{% load custom_filters %}

{% for password in passwords %}

    <div class="password">

        
        <div class="password-title">{{ password.title }}</div>
        <div class="password-username">{{ password.username }}</div>
        
        <div class="password-actions">
            
            <input type="text" id="{{ password.uid }}" class="{{ password.password | remove_b_prefix }}" hidden />
            <div class="password-action copyPassword" title="Скопировать пароль">✂️</div>
            <div class="password-action editPassword" title="Править">✏️</div>
            <div class="password-action deletePassword" title="УДалить">🗑️</div>

        </div>

    </div>

{% endfor %}