{% load custom_filters %}

{% for password in passwords %}

    <div class="password" hx-get="{% url 'app:get-password-info' password.uid %}" hx-target='#editPasswordForm'>

        <div class="password-info">

            <div class="password-title">{{ password.title }}</div>
            <div class="password-username">{{ password.username }}</div>

        </div>
        
        <div class="password-actions">
            
            <input type="text" id="{{ password.uid }}" class="{{ password.password | remove_b_prefix }}" hidden />
            <input type="text" class='password-url' id="{{ password.url }}"   hidden />
            <div class="password-action copyPassword" title="Скопировать пароль">✂️</div>
            <a href="{{ password.url }}" target="_blank">

                <div class="password-action goToWebsite" title="Перейти на сайт">🌐</div>

            </a>
            <div class="password-action editPassword" title="Править">✏️</div>
            <div class="password-action deletePassword" title="Удалить">🗑️</div>

        </div>

    </div>

{% endfor %}

<script>

    /* Actions on hover */

    $('body').on('mouseover', '.password', function() {

        actions = $(this).children('.password-actions');

        actions.css('display', 'flex');
        actions.animate({

            'opacity': 1,

        }, 250);

    });

    $('body').on('mouseleave', '.password', function() {

        actions = $(this).children('.password-actions');

        actions.animate({

            'opacity': 0,

        }, 250);


        setTimeout(function() {

            actions.hide();

        }, 250);

    });

    /* Btn animation */

    $('.password-action').click(function() {

        btn = $(this);

        btn.addClass('in');

        setTimeout(function() {

            btn.removeClass('in');

        }, 250);

    });

    /* Copy password */

    $('.copyPassword').click(function() {

        password = $(this).siblings('input:first').attr('class');
        copyToClipboard(password);

    });

    /* Edit password init */

    $('.editPassword').click(function() {

        note = $(this).parent().parent();

        $('#editPasswordForm').css('display', 'flex');

        $('#editPasswordForm').animate({

            'opacity': 1,

        }, 250);

        password = $(this).parent().parent()
        uid = password.children('.password-actions').children('input:first').attr('id');

    });

    /* Delete password */

    $('.deletePassword').click(function() {

        uid = $(this).siblings('input:first').attr('id');

        $.ajax({

            type: 'POST',
            
            url: '/dp',

            data: {

                'csrfmiddlewaretoken': "{{ csrf_token }}",
                'i': uid,

            }

    });

    /* Display empty safe if no passwords (only script => 1) */

$   (this).parent().parent().remove();

    if ($('#passwordList').children().length === 1) {

        $('.first-password').css('display', 'flex');

    }}); 

</script>