<div id="allTasks">

    {% for task in tasks %}
    
        <div class="task">

            <span>{{ task.title }}</span>

            <input 
                type="text"
                class="taskUID"
                value="{{ task.uid }}" hidden>

            <input 
                type="checkbox"
                class="task-completed">

        </div>
    
    {% endfor %}

</div>

<script>

    $('.task-completed').click(function() {

        taskUID = $(this).siblings('.taskUID').val();
        
        $.ajax({

            type: 'POST', 

            url: "{% url 'app:complete-task' %}",

            data: {

                'csrfmiddlewaretoken': "{{ csrf_token }}",
                'u': taskUID,

            }

        })

    });

</script>