@charset "UTF-8";
/* line 12, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
body {
  width: 100%;
  height: 100%;
  background: #f6eadf;
  color: #1E2330;
  font-family: Comfortaa;
  overflow: hidden;
  overflow-y: auto;
  transition: background 1s ease-in-out; }

/* line 29, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
button {
  outline: none; }

/* Scrollbar */
/* line 37, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
::-webkit-scrollbar {
  width: 10px; }

/* line 44, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
::-webkit-scrollbar-track {
  border-radius: 10px; }

/* line 50, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
::-webkit-scrollbar-thumb {
  background: #1E2330;
  border-radius: 50px; }

/* Defaults */
/* line 59, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
input {
  font-size: 19px;
  font-family: Comfortaa;
  border: none;
  border-radius: 100px;
  color: #1E2330;
  background: #f6eadf;
  box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa;
  transition: all 0.75s ease-in-out; }

/* line 77, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
input::placeholder {
  color: #6e7267; }

/* line 83, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
input:focus {
  outline: none; }

/* line 89, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
button {
  border: none;
  border-radius: 100px;
  background: #f6eadf;
  color: #1E2330;
  font-family: Comfortaa;
  box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
  cursor: pointer;
  transition: background 1s ease-in-out;
  transition: box-shadow 1s ease-in-out; }

/* line 109, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
button:focus {
  outline: none; }

/* line 111, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
button:disabled {
  opacity: 0.55;
  cursor: not-allowed; }

/* line 119, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
svg {
  fill: #1E2330;
  transition: fill 1s ease-in-out; }

/* line 127, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
[contenteditable]:focus {
  outline: none; }

/* line 133, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
[contenteditable]:empty:before {
  content: attr(placeholder);
  color: #6e7267; }

/* line 140, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.wrapper {
  background: #f6eadf;
  transition: all 1s ease-in-out; }

/* Profile */
/* line 150, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.profile-dropdown {
  position: fixed;
  right: 20px;
  top: 110px;
  height: 170px;
  width: 200px;
  display: none;
  opacity: 0;
  border-radius: 30px;
  background: #f6eadf;
  box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
  z-index: 8;
  transition: all 1s ease-in-out; }
  /* line 173, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .profile-dropdown .buttons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px; }
    /* line 184, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .profile-dropdown .buttons a {
      text-decoration: none;
      color: inherit; }
      /* line 189, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .profile-dropdown .buttons a .btn {
        width: 160px;
        height: 40px;
        display: flex;
        align-items: center;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 50px;
        box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
        cursor: pointer;
        transition: all 1s ease-in-out; }
        /* line 209, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
        .profile-dropdown .buttons a .btn svg {
          padding-left: 5px;
          float: left; }
        /* line 217, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
        .profile-dropdown .buttons a .btn span {
          padding: 3px 0 0 10px; }
      /* line 225, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .profile-dropdown .buttons a .btn.active {
        box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
      /* line 234, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .profile-dropdown .buttons a #logout svg {
        padding-top: 2px; }

/* line 250, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.topnav {
  position: fixed;
  top: 0px;
  left: 1.5%;
  width: 97%;
  background: #f6eadf;
  z-index: 9; }
  /* line 262, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .topnav .topnav-wrapper {
    position: relative;
    top: 20px;
    width: 100%;
    height: 70px;
    transition: all 1s ease-in-out; }
    /* line 274, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .topnav .topnav-wrapper .brand {
      position: absolute;
      left: 20px;
      top: 10px;
      width: 100%; }
      /* line 283, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .topnav .topnav-wrapper .brand #brandSVG {
        position: relative;
        transform: scale(1.6); }
    /* line 294, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .topnav .topnav-wrapper .premium-btn.in {
      box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }

/* line 305, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.sidenav {
  position: fixed;
  top: 90px;
  left: 0;
  padding: 30px 0 0 1.5%;
  width: 80px;
  height: calc(100% - 120px);
  background: #f6eadf;
  overflow: hidden;
  transition: width 0.75s ease-in-out;
  z-index: 6;
  transition: all 1s ease-in-out; }
  /* line 327, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .sidenav .page {
    position: relative;
    width: 55px;
    height: 55px;
    margin: 10px;
    margin-bottom: 20px;
    background: #f6eadf;
    border-radius: 30px;
    box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
    cursor: pointer;
    transition: all 1s ease-in-out; }
    /* line 348, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .sidenav .page .icon {
      width: 55px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      float: left; }
      /* line 359, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .sidenav .page .icon span {
        font-weight: bold;
        font-size: 45px;
        padding: 8px 1px 0 0; }
    /* line 370, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .sidenav .page .page-title {
      position: relative;
      height: 60px;
      width: 210px;
      display: flex;
      align-items: center;
      padding-top: 1.5px;
      opacity: 0;
      font-size: 19px;
      transition: opacity 0.75s ease-in-out; }
    /* line 390, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .sidenav .page span {
      position: relative;
      bottom: 2px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    /* line 401, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .sidenav .page .edit-folder-btn-init {
      position: absolute;
      right: 10px;
      top: 5px;
      width: 45px;
      height: 45px;
      display: none;
      align-items: center;
      justify-content: center;
      opacity: 0;
      border-radius: 30px;
      box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
      cursor: pointer;
      transition: opacity 0.75s ease-in-out; }
      /* line 425, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .sidenav .page .edit-folder-btn-init svg {
        transform: scale(0.9); }
    /* line 433, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .sidenav .page .edit-folder-btn-init.active {
      box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
  /* line 442, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .sidenav .page.active {
    box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }

/* line 451, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.sidenav.open {
  width: 350px; }
  /* line 455, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .sidenav.open .page {
    width: 320px; }

/* App */
/* line 465, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.premium-offer, .account-preferences, .create-folder, .current-note, .edit-folder, .photo-carousel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10; }

/* line 487, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.premium-offer .wrapper {
  position: relative;
  width: 300px;
  height: 350px;
  padding: 20px;
  border-radius: 20px;
  background: #f6eadf; }
  /* line 500, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .premium-offer .wrapper #closePremiumOfferBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4px;
    border-radius: 50px;
    box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
    font-size: 40px;
    cursor: pointer;
    z-index: 3; }
  /* line 528, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .premium-offer .wrapper #closePremiumOfferBtn.active {
    box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
  /* line 535, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .premium-offer .wrapper img {
    position: relative;
    bottom: 85px;
    right: 295px;
    transform: scale(0.4); }
  /* line 545, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .premium-offer .wrapper .cta-text-friend {
    position: relative;
    left: 49px;
    bottom: 200px;
    font-size: 22px;
    font-weight: bold; }
  /* line 556, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .premium-offer .wrapper .cta-text-invite {
    position: relative;
    bottom: 180px; }
  /* line 563, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .premium-offer .wrapper .cta-text {
    position: relative;
    top: 260px;
    left: 15px;
    display: block;
    font-size: 20px;
    font-weight: bold; }
  /* line 576, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .premium-offer .wrapper #premiumOfferVid {
    position: absolute;
    right: -85px;
    bottom: 20px;
    transform: scale(0.5);
    border-radius: 1000px;
    z-index: 2; }
  /* line 590, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .premium-offer .wrapper #upgradeBtn {
    position: absolute;
    left: 43px;
    bottom: 20px;
    width: 250px;
    height: 40px;
    padding-top: 4px;
    background: #2832C2;
    color: #fff;
    box-shadow: 1px 1px 6px #222ba5, -1px -1px 6px #2e3adf;
    text-align: center;
    font-size: 17px; }
  /* line 612, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .premium-offer .wrapper .invite-link {
    position: relative;
    bottom: 150px; }
    /* line 617, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .premium-offer .wrapper .invite-link input {
      width: 240px;
      height: 37px;
      float: left;
      padding: 3px 10px 0 10px;
      box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa;
      font-size: 13px; }
    /* line 633, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .premium-offer .wrapper .invite-link #copyLinkBtn {
      position: relative;
      left: 10px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center; }

/* line 655, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.account-preferences .wrapper {
  position: relative;
  width: 400px;
  height: 350px;
  padding: 20px;
  border-radius: 20px;
  background: #f6eadf; }
  /* line 668, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .account-preferences .wrapper #closeAccountPreferences {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    border-radius: 50px;
    box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
    font-size: 40px;
    cursor: pointer; }
  /* line 695, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .account-preferences .wrapper #closeAccountPreferences.active {
    box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
  /* line 702, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .account-preferences .wrapper .form-title {
    position: relative;
    top: 12px;
    font-size: 25px; }
  /* line 711, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .account-preferences .wrapper .fields {
    position: relative;
    top: 50px; }
    /* line 716, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .account-preferences .wrapper .fields .field {
      display: flex;
      align-items: center;
      margin-bottom: 30px; }
      /* line 723, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .account-preferences .wrapper .fields .field .field-icon {
        position: absolute;
        left: 15px;
        float: left; }
      /* line 732, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .account-preferences .wrapper .fields .field #accountName {
        padding: 2px 0 0 6px;
        transform: scale(1.15); }
      /* line 740, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .account-preferences .wrapper .fields .field #accountEmail {
        padding: 4px 2px 0 0;
        transform: scale(0.85); }
      /* line 748, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .account-preferences .wrapper .fields .field #accountPassword {
        left: 14px;
        padding: 2px 2px 0 0;
        transform: scale(0.9); }
      /* line 758, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .account-preferences .wrapper .fields .field input {
        float: left;
        width: 290px;
        padding: 26px 50px 20px 60px; }
      /* line 768, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .account-preferences .wrapper .fields .field .error, .account-preferences .wrapper .fields .field .ok {
        position: absolute;
        right: 20px;
        display: none;
        transform: scale(1.3); }
  /* line 783, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .account-preferences .wrapper .error {
    fill: red; }

/* line 795, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.create-folder .wrapper {
  position: relative;
  width: 400px;
  height: 170px;
  padding: 35px;
  border-radius: 50px;
  background: #f6eadf; }
  /* line 808, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .create-folder .wrapper #closeNewFolderForm {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    font-size: 45px; }
  /* line 821, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .create-folder .wrapper #closeNewFolderForm.active {
    box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
  /* line 829, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .create-folder .wrapper .form-title {
    position: relative;
    font-size: 25px; }
  /* line 839, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .create-folder .wrapper form #newFolderTitle {
    position: relative;
    top: 30px;
    width: 320px;
    height: 40px;
    padding: 5px 20px 5px 20px; }
  /* line 851, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .create-folder .wrapper form .create-folder-btn {
    position: relative;
    top: 55px;
    left: 40px;
    width: 320px;
    height: 50px;
    font-size: 18px;
    box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa; }
  /* line 867, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .create-folder .wrapper form .create-folder-btn.active {
    box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }

/* line 883, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.edit-folder .wrapper {
  position: relative;
  width: 400px;
  height: 170px;
  padding: 30px;
  border-radius: 50px;
  background: #f6eadf; }
  /* line 896, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .edit-folder .wrapper #closeEditFolderForm {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    padding-top: 4px;
    font-size: 40px; }
  /* line 911, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .edit-folder .wrapper button.active {
    box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
  /* line 918, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .edit-folder .wrapper .form-title {
    position: relative;
    font-size: 23px; }
  /* line 928, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .edit-folder .wrapper .form #editFolderTitle {
    position: relative;
    top: 30px;
    width: 353px;
    height: 35px;
    padding: 5px 20px 5px 20px;
    float: left; }
  /* line 942, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .edit-folder .wrapper .form .edit-folder-btn {
    position: absolute;
    bottom: 20px;
    right: 40px;
    width: 300px;
    height: 45px;
    font-size: 18px; }
  /* line 955, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .edit-folder .wrapper .form .edit-folder-btn.active {
    box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
  /* line 964, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .edit-folder .wrapper .delete-folder-btn {
    position: absolute;
    left: 35px;
    bottom: 20px;
    width: 47px;
    height: 47px;
    padding-top: 5px; }

/* line 981, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.photo-carousel {
  z-index: 11; }
  /* line 985, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .photo-carousel button {
    position: absolute;
    box-shadow: none;
    width: 45px;
    height: 45px; }
  /* line 995, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .photo-carousel #closePhoto {
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    font-size: 40px;
    box-shadow: none; }
  /* line 1012, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .photo-carousel #previousPhoto, .photo-carousel #nextPhoto {
    top: 49%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(246, 234, 223, 0.7);
    display: none; }
  /* line 1029, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .photo-carousel #previousPhoto {
    left: 20px;
    padding: 4px 4px 0 0; }
  /* line 1037, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .photo-carousel #nextPhoto {
    right: 20px;
    padding: 4px 0 0 4px; }
  /* line 1045, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .photo-carousel img {
    max-width: 90%;
    max-height: 90%; }

/* line 1054, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.current-note {
  position: fixed;
  z-index: 10; }
  /* line 1060, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .current-note .wrapper {
    width: 98%;
    height: 95%;
    overflow-y: auto;
    background: #f6eadf;
    padding-bottom: 20px;
    border-radius: 30px; }
    /* line 1073, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .current-note .wrapper #currentNoteContents {
      display: none; }
  /* line 1077, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .current-note .top {
    position: relative;
    left: 0;
    top: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center; }
    /* line 1089, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .current-note .top input {
      position: relative;
      left: 2.5%;
      width: calc(95% - 95px);
      padding: 15px 20px 14px 20px;
      font-size: 20px;
      font-weight: bold; }
    /* line 1103, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .current-note .top #closeCurrentNote {
      position: absolute;
      right: 12px;
      width: 45px;
      height: 45px;
      border-radius: 50px;
      box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
      font-size: 40px;
      padding: 2px 0 0 0; }
    /* line 1121, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .current-note .top #closeCurrentNote.active {
      box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
  /* line 1130, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .current-note .photos {
    position: relative;
    width: calc(100% - 50px);
    display: none;
    align-items: center;
    margin: 25px 25px 0 25px; }
    /* line 1141, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .current-note .photos .photo {
      position: relative;
      width: 200px;
      height: 200px;
      display: inline-block;
      margin: 20px 20px 0 20px; }
      /* line 1151, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .current-note .photos .photo #removePhoto {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        box-shadow: none;
        backdrop-filter: blur(17px) saturate(180%);
        -webkit-backdrop-filter: blur(17px) saturate(180%);
        background-color: rgba(255, 255, 255, 0.43); }
      /* line 1174, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .current-note .photos .photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa; }
  /* line 1192, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .current-note .rte {
    position: relative;
    top: 20px;
    left: calc(2.5% - 20px);
    width: calc(95% - 20px);
    height: 100px; }
    /* line 1201, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .current-note .rte .rte-wrapper {
      position: absolute;
      left: 0;
      height: 70px;
      width: 100%;
      display: flex;
      align-items: center;
      margin: 20px;
      padding: 0 10px 0 10px;
      border-radius: 100px;
      overflow-x: auto;
      box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa; }
      /* line 1222, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .current-note .rte .rte-wrapper button {
        position: relative;
        min-width: 45px;
        height: 45px;
        margin: 0 10px 0 10px;
        border-radius: 50px;
        font-size: 17px;
        box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa; }
      /* line 1240, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .current-note .rte .rte-wrapper button.active {
        box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
      /* line 1247, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .current-note .rte .rte-wrapper svg {
        padding: 4px 0 0 0; }
  /* line 1257, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .current-note .current-note-folders-form {
    position: absolute;
    right: 20px;
    top: 60px;
    width: 300px;
    height: 500px;
    background: #f6eadf;
    display: none;
    opacity: 0;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
    z-index: 8; }
    /* line 1279, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .current-note .current-note-folders-form #closeCurrentNoteFoldersForm {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      background: #f6eadf;
      box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
      font-size: 40px;
      cursor: pointer; }
    /* line 1304, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .current-note .current-note-folders-form #closeCurrentNoteFoldersForm.active {
      box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
    /* line 1311, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .current-note .current-note-folders-form .folder-search {
      position: relative;
      top: 50px;
      width: 270px;
      padding: 10px 15px 10px 15px; }
    /* line 1322, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .current-note .current-note-folders-form .folder-section-title {
      margin-bottom: 20px;
      font-size: 18px; }
    /* line 1329, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .current-note .current-note-folders-form .folder-title {
      position: absolute;
      top: 20px;
      left: 15px;
      font-size: 20px; }
    /* line 1339, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .current-note .current-note-folders-form .folder-list {
      position: relative;
      top: 70px;
      width: 270px;
      max-height: 360px;
      box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
      padding: 15px;
      border-radius: 20px;
      overflow: hidden;
      overflow-y: auto; }
      /* line 1357, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .current-note .current-note-folders-form .folder-list input {
        display: none; }
      /* line 1359, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .current-note .current-note-folders-form .folder-list #noteFolder {
        position: relative;
        width: 250px;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 50px;
        box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer; }
      /* line 1381, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .current-note .current-note-folders-form .folder-list #noteFolder.alone {
        margin: 0; }
      /* line 1387, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .current-note .current-note-folders-form .folder-list #noteFolder.inNote {
        box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
    /* line 1396, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .current-note .current-note-folders-form .create-new-folder-from-search-current {
      position: relative;
      top: 85px;
      display: none; }
      /* line 1403, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .current-note .current-note-folders-form .create-new-folder-from-search-current #createFolderInNote {
        padding: 10px;
        font-size: 17px; }
  /* line 1416, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .current-note .content {
    position: relative;
    top: 40px;
    left: 2.5%;
    width: 95%;
    height: calc(100% - 250px);
    overflow: visible; }
    /* line 1427, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .current-note .content .current-note-content {
      height: 100%;
      overflow: auto;
      padding: 25px;
      border-radius: 30px;
      font-size: 19px;
      box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
  /* line 1445, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .current-note .current-note-folders {
    position: relative;
    top: 100px;
    left: 2.5%;
    width: calc(100% - 100px);
    min-height: 40px; }
    /* line 1454, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .current-note .current-note-folders .folder {
      position: relative;
      height: 25px;
      min-width: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3px 10px 3px 10px;
      margin: 0 15px 15px 0;
      border-radius: 30px;
      float: left;
      box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa; }
      /* line 1477, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .current-note .current-note-folders .folder #removeFolder {
        position: absolute;
        right: 0;
        width: 31px;
        height: 31px;
        padding-top: 3px;
        opacity: 0;
        box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
        font-size: 25px;
        font-weight: bold; }
      /* line 1497, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .current-note .current-note-folders .folder #removeFolder.active {
        box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }

/* line 1510, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.new-note, .notes {
  position: relative;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

/* line 1522, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.notes {
  position: relative;
  top: 20px;
  height: calc(100% - 200px);
  padding-bottom: 30px;
  margin-right: 15px; }
  /* line 1532, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .notes .first-note {
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    display: none; }
    /* line 1542, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .notes .first-note span {
      margin-bottom: 30px; }
    /* line 1548, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .notes .first-note .warn-text {
      font-weight: bold;
      font-size: 40px; }
    /* line 1555, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .notes .first-note .cta-text {
      font-size: 20px; }
    /* line 1561, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .notes .first-note .cta-btn {
      padding: 10px;
      font-size: 20px; }
  /* line 1571, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .notes .failed-search {
    position: relative;
    top: 40px;
    display: block;
    font-weight: bold; }
  /* line 1582, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .notes .note-section-title {
    position: relative;
    font-weight: bold;
    font-size: 30px; }
  /* line 1591, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .notes .note-section {
    position: relative;
    top: 10px;
    padding-top: 20px; }
    /* line 1598, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .notes .note-section .section-title {
      font-size: 23px; }
  /* line 1606, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .notes .note {
    position: relative;
    top: 20px;
    min-height: 23px;
    width: 300px;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 30px;
    box-shadow: 3px 3px 8px #c5bbb2, -3px -3px 8px #ffffff;
    transition: all 1s ease-in-out; }
    /* line 1624, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .notes .note .empty {
      position: absolute;
      top: 23px;
      display: none;
      color: #6e7267;
      font-size: 19px; }
    /* line 1636, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .notes .note .note-actions {
      position: absolute;
      top: 10px;
      right: 9px;
      opacity: 0;
      z-index: 2; }
      /* line 1646, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .notes .note .note-actions div {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        float: left;
        border-radius: 100px;
        box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
        cursor: pointer;
        transition: all 1s ease-in-out; }
      /* line 1669, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .notes .note .note-actions div.active {
        box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
    /* line 1678, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .notes .note .text {
      position: relative;
      z-index: 1; }
      /* line 1684, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .notes .note .text span {
        position: relative; }
      /* line 1686, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .notes .note .text .title {
        top: 0;
        font-weight: bold; }
      /* line 1694, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .notes .note .text .content {
        top: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 15;
        -webkit-box-orient: vertical; }
    /* line 1708, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .notes .note .folders {
      position: relative;
      top: 10px;
      width: calc(100% - 60px);
      height: 45px;
      padding: 5px;
      overflow: hidden; }
      /* line 1720, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      .notes .note .folders .folder {
        position: relative;
        min-width: 15px;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 7px 5px 7px;
        margin: 15px 15px 0 0;
        border-radius: 100px;
        box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
        transition: all 1s ease-in-out; }
        /* line 1742, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
        .notes .note .folders .folder span {
          font-size: 16px; }
  /* line 1754, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .notes .empty-trash {
    margin-bottom: 20px; }
    /* line 1758, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .notes .empty-trash #emptyTrashBtn {
      width: 300px;
      height: 50px;
      display: block;
      margin-top: 20px;
      text-align: center;
      font-size: 19px;
      border-radius: 100px; }
    /* line 1775, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    .notes .empty-trash #emptyTrashBtn.active {
      width: 300px;
      height: 50px;
      display: block;
      margin-top: 20px;
      text-align: center;
      font-size: 19px;
      border-radius: 100px;
      box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }

/* Premium offer */
/* line 1801, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.premium {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5); }
  /* line 1820, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  .premium .wrapper {
    position: relative;
    height: 450px;
    width: 300px;
    background: #fff;
    border-radius: 50px; }

/* Dark mode */
/* line 1836, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
body.dark::-webkit-scrollbar-thumb {
  background: #a3a7ab;
  border-radius: 50px; }

/* line 1843, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
body.dark {
  background: #151718;
  color: #a3a7ab; }
  /* line 1850, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  body.dark #Icon_feather-mail path {
    stroke: #a3a7ab; }
  /* line 1858, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  body.dark input {
    color: #a3a7ab;
    background: #151718;
    box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
  /* line 1868, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  body.dark input::placeholder {
    color: #6e7072; }
  /* line 1874, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  body.dark button {
    background: #151718;
    color: #a3a7ab;
    box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
  /* line 1884, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  body.dark svg {
    fill: #a3a7ab; }
  /* line 1890, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  body.dark [contenteditable]:empty:before {
    color: #6e7072; }
  /* line 1896, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  body.dark .wrapper {
    background: #151718; }
    /* line 1900, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .wrapper #closePremiumOfferBtn {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 1907, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .wrapper #closePremiumOfferBtn.active {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
  /* line 1918, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  body.dark .account-preferences #closeAccountPreferences {
    box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
  /* line 1925, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  body.dark .account-preferences #closeAccountPreferences.active {
    box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
  /* line 1934, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  body.dark .profile-dropdown {
    background: #151718;
    box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 1945, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .profile-dropdown .buttons a .btn {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
  /* line 1960, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  body.dark .create-folder .wrapper {
    background: #151718; }
    /* line 1964, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .create-folder .wrapper #closeNewFolderForm.active {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
    /* line 1971, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .create-folder .wrapper .create-folder-btn {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 1978, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .create-folder .wrapper .create-folder-btn.active {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
  /* line 1991, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  body.dark .edit-folder .wrapper {
    background: #151718; }
    /* line 1997, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .edit-folder .wrapper .form .edit-folder-btn {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 2004, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .edit-folder .wrapper .form .edit-folder-btn.active {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
    /* line 2013, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .edit-folder .wrapper button.active {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
  /* line 2025, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  body.dark .topnav {
    background: #151718; }
    /* line 2029, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .topnav .topnav-wrapper {
      background: #151718;
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
      /* line 2036, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      body.dark .topnav .topnav-wrapper #toggleSidenavBtn {
        box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
      /* line 2043, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      body.dark .topnav .topnav-wrapper #toggleSidenavBtn.active {
        box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
      /* line 2050, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      body.dark .topnav .topnav-wrapper .premium-btn {
        box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
      /* line 2057, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      body.dark .topnav .topnav-wrapper .premium-btn.in {
        box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
      /* line 2064, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      body.dark .topnav .topnav-wrapper .initials {
        box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
      /* line 2071, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      body.dark .topnav .topnav-wrapper .initials.active {
        box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
  /* line 2082, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  body.dark .sidenav {
    background: #151718;
    transition: all 1s ease-in-out; }
    /* line 2088, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .sidenav .page {
      background: #151718;
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
      /* line 2095, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      body.dark .sidenav .page .edit-folder-btn-init {
        box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
      /* line 2102, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      body.dark .sidenav .page .edit-folder-btn-init.active {
        box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
    /* line 2111, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .sidenav .page.active {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
  /* line 2120, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  body.dark .sidenav.open {
    box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px transparent; }
  /* line 2127, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  body.dark .sidenav::-webkit-scrollbar-thumb {
    background: #a3a7ab; }
  /* line 2135, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  body.dark .new-note .wrapper {
    box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 2142, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper .filters div {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 2149, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper .filters div.active {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
    /* line 2158, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper #closeNewNote {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 2165, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper #closeNewNote.active {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
    /* line 2174, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper .new-note-rte .rte-wrapper {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 2181, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper .new-note-rte .wrapper {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 2188, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper .new-note-rte button {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 2195, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper .new-note-rte button.active {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
    /* line 2204, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper #newNoteContentCE {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
    /* line 2213, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper #newNoteData .create-note-btn {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 2220, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper #newNoteData .create-note-btn.active {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
    /* line 2229, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper .new-note-folders-form {
      background: #151718;
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
      /* line 2236, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      body.dark .new-note .wrapper .new-note-folders-form #closeNewNoteFoldersForm {
        background: #151718;
        box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
      /* line 2245, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      body.dark .new-note .wrapper .new-note-folders-form #closeNewNoteFoldersForm.active {
        box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
      /* line 2252, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      body.dark .new-note .wrapper .new-note-folders-form .new-note-folder-list {
        box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
        /* line 2257, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
        body.dark .new-note .wrapper .new-note-folders-form .new-note-folder-list #newNoteFolder {
          box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
        /* line 2264, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
        body.dark .new-note .wrapper .new-note-folders-form .new-note-folder-list #newNoteFolder.inNote {
          box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
      /* line 2273, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      body.dark .new-note .wrapper .new-note-folders-form .new-note-folder-list::-webkit-scrollbar-thumb {
        background: #a3a7ab; }
  /* line 2287, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  body.dark .photo-carousel #previousPhoto, body.dark .photo-carousel #nextPhoto {
    background: rgba(21, 23, 24, 0.7);
    box-shadow: none; }
  /* line 2299, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  body.dark .current-note #currentNoteWrapper::-webkit-scrollbar-thumb {
    background: #a3a7ab; }
  /* line 2305, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  body.dark .current-note .wrapper {
    background: #151718; }
    /* line 2311, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .top #closeCurrentNote {
      box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #202324; }
    /* line 2324, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .photos .photo img {
      box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #202324; }
    /* line 2333, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .photos .photo #removePhoto svg {
      fill: #151718; }
    /* line 2345, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .current-note-content::-webkit-scrollbar-thumb {
      background: #a3a7ab;
      border-radius: 50px; }
    /* line 2354, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .rte .rte-wrapper {
      box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #202324; }
      /* line 2359, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      body.dark .current-note .wrapper .rte .rte-wrapper button {
        box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #202324; }
      /* line 2366, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      body.dark .current-note .wrapper .rte .rte-wrapper button.active {
        box-shadow: inset 4px 4px 8px #0a0b0c, inset -4px -4px 8px #202324; }
      /* line 2377, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      body.dark .current-note .wrapper .rte .rte-wrapper #photoBtnCurrent svg path {
        fill: #a3a7ab; }
    /* line 2389, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .rte .rte-wrapper::-webkit-scrollbar-thumb {
      background: #a3a7ab; }
    /* line 2397, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .current-note-folders-form {
      background: #151718;
      box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #202324; }
      /* line 2404, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      body.dark .current-note .wrapper .current-note-folders-form #closeCurrentNoteFoldersForm {
        background: #151718;
        box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #202324; }
      /* line 2413, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      body.dark .current-note .wrapper .current-note-folders-form #closeCurrentNoteFoldersForm.active {
        box-shadow: inset 4px 4px 8px #0a0b0c, inset -4px -4px 8px #202324; }
      /* line 2420, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      body.dark .current-note .wrapper .current-note-folders-form .folder-list::-webkit-scrollbar-thumb {
        background: #a3a7ab; }
      /* line 2426, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
      body.dark .current-note .wrapper .current-note-folders-form .folder-list {
        box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #202324; }
        /* line 2431, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
        body.dark .current-note .wrapper .current-note-folders-form .folder-list #noteFolder {
          box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #202324; }
        /* line 2438, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
        body.dark .current-note .wrapper .current-note-folders-form .folder-list #noteFolder.inNote {
          box-shadow: inset 4px 4px 8px #0a0b0c, inset -4px -4px 8px #202324; }
    /* line 2449, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .current-note-folders-form::-webkit-scrollbar-thumb {
      background: #a3a7ab; }
    /* line 2455, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .current-note-content {
      box-shadow: inset 4px 4px 8px #0a0b0c, inset -4px -4px 8px #202324; }
    /* line 2464, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .current-note-folders .folder {
      box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #202324; }
    /* line 2471, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .current-note-folders #removeFolder {
      box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #202324; }
    /* line 2478, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .current-note-folders #removeFolder.active {
      box-shadow: inset 4px 4px 8px #0a0b0c, inset -4px -4px 8px #202324; }
  /* line 2491, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  body.dark .note {
    box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #202324; }
    /* line 2496, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .note .empty {
      color: #6e7072; }
    /* line 2504, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .note .note-actions div {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 2511, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .note .note-actions div.active {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
    /* line 2522, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
    body.dark .note .folders .folder {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
  /* line 2535, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
  body.dark .notes #emptyTrashBtn.active {
    box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }

/* line 2548, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
svg.error path {
  fill: red; }

/* Toggle mode btn */
/* line 2558, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* line 2566, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.toggle-slot {
  position: relative;
  height: 10em;
  width: 20em;
  border-radius: 10em;
  background: #f6eadf;
  transition: background-color 250ms;
  box-shadow: 3px 3px 8px #c5bbb2, -3px -3px 8px #fffffa;
  transition: all 1s ease-in-out; }

/* line 2579, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #151718;
  box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #1c1e1f; }

/* line 2588, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.toggle-button {
  transform: translate(11.75em, 1.75em);
  position: absolute;
  height: 6.5em;
  width: 6.5em;
  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
  transition: all 1s ease-in-out, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71); }

/* line 2599, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #151718;
  box-shadow: inset 0px 0px 0px 0.75em #a3a7ab;
  transform: translate(1.75em, 1.75em); }

/* line 2605, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.sun-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: #ffbb52;
  transition: all 1s ease-in-out; }

/* line 2615, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.sun-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 1;
  transform: translate(2em, 2em) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71); }

/* line 2625, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(3em, 2em) rotate(0deg); }

/* line 2630, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.moon-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: #a3a7ab;
  transition: all 1s ease-in-out; }

/* line 2640, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.moon-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 0;
  transform: translate(11em, 2em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2.5, 0.46, 0.71); }

/* line 2650, c:/users/следователь/desktop/bbb/static/scss/app/home_mobile.scss */
.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(12em, 2em) rotate(-15deg); }
