/* line 12, static/scss/app/home_mobile.scss */
body {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #f6eadf;
  color: #1E2330;
  font-family: Comfortaa;
  overflow: hidden;
  overflow-y: auto;
  transition: background 1s ease-in-out; }

/* line 36, static/scss/app/home_mobile.scss */
button {
  outline: none; }

/* Scrollbar */
/* line 44, static/scss/app/home_mobile.scss */
::-webkit-scrollbar {
  width: 10px; }

/* line 51, static/scss/app/home_mobile.scss */
::-webkit-scrollbar-track {
  border-radius: 10px; }

/* line 57, static/scss/app/home_mobile.scss */
::-webkit-scrollbar-thumb {
  background: #1E2330;
  border-radius: 50px; }

/* Defaults */
/* line 66, static/scss/app/home_mobile.scss */
input {
  font-size: 19px;
  font-family: Comfortaa;
  border: none;
  border-radius: 100px;
  color: #1E2330;
  background: #f6eadf;
  box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa;
  transition: all 0.75s ease-in-out; }

/* line 84, static/scss/app/home_mobile.scss */
input::placeholder {
  color: #6e7267; }

/* line 90, static/scss/app/home_mobile.scss */
input:focus {
  outline: none; }

/* line 96, static/scss/app/home_mobile.scss */
button {
  border: none;
  border-radius: 100px;
  background: #f6eadf;
  color: #1E2330;
  font-family: Comfortaa;
  box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
  cursor: pointer;
  transition: background 1s ease-in-out;
  transition: box-shadow 1s ease-in-out; }

/* line 116, static/scss/app/home_mobile.scss */
button:focus {
  outline: none; }

/* line 118, static/scss/app/home_mobile.scss */
button:disabled {
  opacity: 0.55;
  cursor: not-allowed; }

/* line 126, static/scss/app/home_mobile.scss */
svg {
  fill: #1E2330;
  transition: fill 1s ease-in-out; }

/* line 134, static/scss/app/home_mobile.scss */
[contenteditable]:focus {
  outline: none; }

/* line 140, static/scss/app/home_mobile.scss */
[contenteditable]:empty:before {
  content: attr(placeholder);
  color: #6e7267; }

/* line 147, static/scss/app/home_mobile.scss */
.wrapper {
  background: #f6eadf;
  transition: all 1s ease-in-out; }

/* Profile */
/* line 157, static/scss/app/home_mobile.scss */
.profile-dropdown {
  position: fixed;
  right: 20px;
  top: 110px;
  height: 170px;
  width: 200px;
  display: none;
  opacity: 0;
  border-radius: 30px;
  background: #f6eadf;
  box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
  z-index: 8;
  transition: all 1s ease-in-out; }
  /* line 180, static/scss/app/home_mobile.scss */
  .profile-dropdown .buttons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px; }
    /* line 191, static/scss/app/home_mobile.scss */
    .profile-dropdown .buttons a {
      text-decoration: none;
      color: inherit; }
      /* line 196, static/scss/app/home_mobile.scss */
      .profile-dropdown .buttons a .btn {
        width: 160px;
        height: 40px;
        display: flex;
        align-items: center;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 50px;
        box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
        cursor: pointer;
        transition: all 1s ease-in-out; }
        /* line 216, static/scss/app/home_mobile.scss */
        .profile-dropdown .buttons a .btn svg {
          padding-left: 5px;
          float: left; }
        /* line 224, static/scss/app/home_mobile.scss */
        .profile-dropdown .buttons a .btn span {
          padding: 3px 0 0 10px; }
      /* line 232, static/scss/app/home_mobile.scss */
      .profile-dropdown .buttons a .btn.active {
        box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
      /* line 241, static/scss/app/home_mobile.scss */
      .profile-dropdown .buttons a #logout svg {
        padding-top: 2px; }

/* line 257, static/scss/app/home_mobile.scss */
.topnav {
  position: fixed;
  top: 0px;
  left: 1.5%;
  width: 97%;
  background: #f6eadf;
  z-index: 9; }
  /* line 269, static/scss/app/home_mobile.scss */
  .topnav .topnav-wrapper {
    position: relative;
    top: 20px;
    width: 100%;
    height: 70px;
    transition: all 1s ease-in-out; }
    /* line 281, static/scss/app/home_mobile.scss */
    .topnav .topnav-wrapper .brand {
      position: absolute;
      left: 20px;
      top: 10px;
      width: 100%; }
      /* line 290, static/scss/app/home_mobile.scss */
      .topnav .topnav-wrapper .brand #brandSVG {
        position: relative;
        transform: scale(1.6); }
    /* line 301, static/scss/app/home_mobile.scss */
    .topnav .topnav-wrapper .premium-btn.in {
      box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }

/* line 312, static/scss/app/home_mobile.scss */
.sidenav {
  position: fixed;
  top: 90px;
  left: 0;
  padding: 30px 0 0 1.5%;
  width: 80px;
  height: calc(100% - 120px);
  background: #f6eadf;
  overflow: hidden;
  transition: width 0.75s ease-in-out;
  z-index: 6;
  transition: all 1s ease-in-out; }
  /* line 334, static/scss/app/home_mobile.scss */
  .sidenav .page {
    position: relative;
    width: 55px;
    height: 55px;
    margin: 10px;
    margin-bottom: 20px;
    background: #f6eadf;
    border-radius: 30px;
    box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
    cursor: pointer;
    transition: all 1s ease-in-out; }
    /* line 355, static/scss/app/home_mobile.scss */
    .sidenav .page .icon {
      width: 55px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      float: left; }
      /* line 366, static/scss/app/home_mobile.scss */
      .sidenav .page .icon span {
        font-weight: bold;
        font-size: 45px;
        padding: 8px 1px 0 0; }
    /* line 377, static/scss/app/home_mobile.scss */
    .sidenav .page .page-title {
      position: relative;
      height: 60px;
      width: 210px;
      display: flex;
      align-items: center;
      padding-top: 1.5px;
      opacity: 0;
      font-size: 19px;
      transition: opacity 0.75s ease-in-out; }
    /* line 397, static/scss/app/home_mobile.scss */
    .sidenav .page span {
      position: relative;
      bottom: 2px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    /* line 408, static/scss/app/home_mobile.scss */
    .sidenav .page .edit-folder-btn-init {
      position: absolute;
      right: 10px;
      top: 5px;
      width: 45px;
      height: 45px;
      display: none;
      align-items: center;
      justify-content: center;
      opacity: 0;
      border-radius: 30px;
      box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
      cursor: pointer;
      transition: opacity 0.75s ease-in-out; }
      /* line 432, static/scss/app/home_mobile.scss */
      .sidenav .page .edit-folder-btn-init svg {
        transform: scale(0.9); }
    /* line 440, static/scss/app/home_mobile.scss */
    .sidenav .page .edit-folder-btn-init.active {
      box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
  /* line 449, static/scss/app/home_mobile.scss */
  .sidenav .page.active {
    box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }

/* line 458, static/scss/app/home_mobile.scss */
.sidenav.open {
  width: 350px; }
  /* line 462, static/scss/app/home_mobile.scss */
  .sidenav.open .page {
    width: 320px; }

/* App */
/* line 472, static/scss/app/home_mobile.scss */
.premium-offer, .account-preferences, .create-folder, .current-note, .edit-folder, .photo-carousel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10; }

/* line 494, static/scss/app/home_mobile.scss */
.premium-offer .wrapper {
  position: relative;
  width: 300px;
  height: 350px;
  padding: 20px;
  border-radius: 20px;
  background: #f6eadf; }
  /* line 507, static/scss/app/home_mobile.scss */
  .premium-offer .wrapper #closePremiumOfferBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4px;
    border-radius: 50px;
    box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
    font-size: 40px;
    cursor: pointer;
    z-index: 3; }
  /* line 535, static/scss/app/home_mobile.scss */
  .premium-offer .wrapper #closePremiumOfferBtn.active {
    box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
  /* line 542, static/scss/app/home_mobile.scss */
  .premium-offer .wrapper img {
    position: relative;
    bottom: 85px;
    right: 295px;
    transform: scale(0.4); }
  /* line 552, static/scss/app/home_mobile.scss */
  .premium-offer .wrapper .cta-text-friend {
    position: relative;
    left: 49px;
    bottom: 200px;
    font-size: 22px;
    font-weight: bold; }
  /* line 563, static/scss/app/home_mobile.scss */
  .premium-offer .wrapper .cta-text-invite {
    position: relative;
    bottom: 180px; }
  /* line 570, static/scss/app/home_mobile.scss */
  .premium-offer .wrapper .cta-text {
    position: relative;
    top: 260px;
    left: 15px;
    display: block;
    font-size: 20px;
    font-weight: bold; }
  /* line 583, static/scss/app/home_mobile.scss */
  .premium-offer .wrapper #premiumOfferVid {
    position: absolute;
    right: -85px;
    bottom: 20px;
    transform: scale(0.5);
    border-radius: 1000px;
    z-index: 2; }
  /* line 597, static/scss/app/home_mobile.scss */
  .premium-offer .wrapper #upgradeBtn {
    position: absolute;
    left: 43px;
    bottom: 20px;
    width: 250px;
    height: 40px;
    padding-top: 4px;
    background: #2832C2;
    color: #fff;
    box-shadow: 1px 1px 6px #222ba5, -1px -1px 6px #2e3adf;
    text-align: center;
    font-size: 17px; }
  /* line 619, static/scss/app/home_mobile.scss */
  .premium-offer .wrapper .invite-link {
    position: relative;
    bottom: 150px; }
    /* line 624, static/scss/app/home_mobile.scss */
    .premium-offer .wrapper .invite-link input {
      width: 240px;
      height: 37px;
      float: left;
      padding: 3px 10px 0 10px;
      box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa;
      font-size: 13px; }
    /* line 640, static/scss/app/home_mobile.scss */
    .premium-offer .wrapper .invite-link #copyLinkBtn {
      position: relative;
      left: 10px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center; }

/* line 662, static/scss/app/home_mobile.scss */
.account-preferences .wrapper {
  position: relative;
  width: 400px;
  height: 350px;
  padding: 20px;
  border-radius: 20px;
  background: #f6eadf; }
  /* line 675, static/scss/app/home_mobile.scss */
  .account-preferences .wrapper #closeAccountPreferences {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    border-radius: 50px;
    box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
    font-size: 40px;
    cursor: pointer; }
  /* line 702, static/scss/app/home_mobile.scss */
  .account-preferences .wrapper #closeAccountPreferences.active {
    box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
  /* line 709, static/scss/app/home_mobile.scss */
  .account-preferences .wrapper .form-title {
    position: relative;
    top: 12px;
    font-size: 25px; }
  /* line 718, static/scss/app/home_mobile.scss */
  .account-preferences .wrapper .fields {
    position: relative;
    top: 50px; }
    /* line 723, static/scss/app/home_mobile.scss */
    .account-preferences .wrapper .fields .field {
      display: flex;
      align-items: center;
      margin-bottom: 30px; }
      /* line 730, static/scss/app/home_mobile.scss */
      .account-preferences .wrapper .fields .field .field-icon {
        position: absolute;
        left: 15px;
        float: left; }
      /* line 739, static/scss/app/home_mobile.scss */
      .account-preferences .wrapper .fields .field #accountName {
        padding: 2px 0 0 6px;
        transform: scale(1.15); }
      /* line 747, static/scss/app/home_mobile.scss */
      .account-preferences .wrapper .fields .field #accountEmail {
        padding: 4px 2px 0 0;
        transform: scale(0.85); }
      /* line 755, static/scss/app/home_mobile.scss */
      .account-preferences .wrapper .fields .field #accountPassword {
        left: 14px;
        padding: 2px 2px 0 0;
        transform: scale(0.9); }
      /* line 765, static/scss/app/home_mobile.scss */
      .account-preferences .wrapper .fields .field input {
        float: left;
        width: 290px;
        padding: 26px 50px 20px 60px; }
      /* line 775, static/scss/app/home_mobile.scss */
      .account-preferences .wrapper .fields .field .error, .account-preferences .wrapper .fields .field .ok {
        position: absolute;
        right: 20px;
        display: none;
        transform: scale(1.3); }
  /* line 790, static/scss/app/home_mobile.scss */
  .account-preferences .wrapper .error {
    fill: red; }

/* line 802, static/scss/app/home_mobile.scss */
.create-folder .wrapper {
  position: relative;
  width: 400px;
  height: 170px;
  padding: 35px;
  border-radius: 50px;
  background: #f6eadf; }
  /* line 815, static/scss/app/home_mobile.scss */
  .create-folder .wrapper #closeNewFolderForm {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    font-size: 45px; }
  /* line 828, static/scss/app/home_mobile.scss */
  .create-folder .wrapper #closeNewFolderForm.active {
    box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
  /* line 836, static/scss/app/home_mobile.scss */
  .create-folder .wrapper .form-title {
    position: relative;
    font-size: 25px; }
  /* line 846, static/scss/app/home_mobile.scss */
  .create-folder .wrapper form #newFolderTitle {
    position: relative;
    top: 30px;
    width: 320px;
    height: 40px;
    padding: 5px 20px 5px 20px; }
  /* line 858, static/scss/app/home_mobile.scss */
  .create-folder .wrapper form .create-folder-btn {
    position: relative;
    top: 55px;
    left: 40px;
    width: 320px;
    height: 50px;
    font-size: 18px;
    box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa; }
  /* line 874, static/scss/app/home_mobile.scss */
  .create-folder .wrapper form .create-folder-btn.active {
    box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }

/* line 890, static/scss/app/home_mobile.scss */
.edit-folder .wrapper {
  position: relative;
  width: 400px;
  height: 170px;
  padding: 30px;
  border-radius: 50px;
  background: #f6eadf; }
  /* line 903, static/scss/app/home_mobile.scss */
  .edit-folder .wrapper #closeEditFolderForm {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    padding-top: 4px;
    font-size: 40px; }
  /* line 918, static/scss/app/home_mobile.scss */
  .edit-folder .wrapper button.active {
    box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
  /* line 925, static/scss/app/home_mobile.scss */
  .edit-folder .wrapper .form-title {
    position: relative;
    font-size: 23px; }
  /* line 935, static/scss/app/home_mobile.scss */
  .edit-folder .wrapper .form #editFolderTitle {
    position: relative;
    top: 30px;
    width: 353px;
    height: 35px;
    padding: 5px 20px 5px 20px;
    float: left; }
  /* line 949, static/scss/app/home_mobile.scss */
  .edit-folder .wrapper .form .edit-folder-btn {
    position: absolute;
    bottom: 20px;
    right: 40px;
    width: 300px;
    height: 45px;
    font-size: 18px; }
  /* line 962, static/scss/app/home_mobile.scss */
  .edit-folder .wrapper .form .edit-folder-btn.active {
    box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
  /* line 971, static/scss/app/home_mobile.scss */
  .edit-folder .wrapper .delete-folder-btn {
    position: absolute;
    left: 35px;
    bottom: 20px;
    width: 47px;
    height: 47px;
    padding-top: 5px; }

/* line 988, static/scss/app/home_mobile.scss */
.photo-carousel {
  z-index: 11; }
  /* line 992, static/scss/app/home_mobile.scss */
  .photo-carousel button {
    position: absolute;
    box-shadow: none;
    width: 45px;
    height: 45px; }
  /* line 1002, static/scss/app/home_mobile.scss */
  .photo-carousel #closePhoto {
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    font-size: 40px;
    box-shadow: none; }
  /* line 1019, static/scss/app/home_mobile.scss */
  .photo-carousel #previousPhoto, .photo-carousel #nextPhoto {
    top: 49%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(246, 234, 223, 0.7);
    display: none; }
  /* line 1036, static/scss/app/home_mobile.scss */
  .photo-carousel #previousPhoto {
    left: 20px;
    padding: 4px 4px 0 0; }
  /* line 1044, static/scss/app/home_mobile.scss */
  .photo-carousel #nextPhoto {
    right: 20px;
    padding: 4px 0 0 4px; }
  /* line 1052, static/scss/app/home_mobile.scss */
  .photo-carousel img {
    max-width: 90%;
    max-height: 90%; }

/* line 1061, static/scss/app/home_mobile.scss */
.create-btn {
  position: absolute;
  top: 90%;
  right: 10%; }

/* line 1070, static/scss/app/home_mobile.scss */
.current-note {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }
  /* line 1081, static/scss/app/home_mobile.scss */
  .current-note .wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #f6eadf;
    padding-bottom: 20px; }
    /* line 1093, static/scss/app/home_mobile.scss */
    .current-note .wrapper #currentNoteContents {
      display: none; }
  /* line 1097, static/scss/app/home_mobile.scss */
  .current-note .top {
    position: relative;
    left: 0;
    top: 20px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center; }
    /* line 1109, static/scss/app/home_mobile.scss */
    .current-note .top input {
      position: relative;
      left: 2.5%;
      width: calc(95% - 95px);
      padding: 15px 20px 14px 20px;
      font-size: 20px;
      font-weight: bold; }
    /* line 1123, static/scss/app/home_mobile.scss */
    .current-note .top #closeCurrentNote {
      position: absolute;
      right: 12px;
      width: 45px;
      height: 45px;
      border-radius: 50px;
      box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
      font-size: 40px;
      padding: 2px 0 0 0; }
    /* line 1141, static/scss/app/home_mobile.scss */
    .current-note .top #closeCurrentNote.active {
      box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
  /* line 1150, static/scss/app/home_mobile.scss */
  .current-note .photos {
    position: relative;
    width: calc(100% - 50px);
    display: none;
    align-items: center;
    margin: 25px 25px 0 25px; }
    /* line 1161, static/scss/app/home_mobile.scss */
    .current-note .photos .photo {
      position: relative;
      width: 200px;
      height: 200px;
      display: inline-block;
      margin: 20px 20px 0 20px; }
      /* line 1171, static/scss/app/home_mobile.scss */
      .current-note .photos .photo #removePhoto {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        box-shadow: none;
        backdrop-filter: blur(17px) saturate(180%);
        -webkit-backdrop-filter: blur(17px) saturate(180%);
        background-color: rgba(255, 255, 255, 0.43); }
      /* line 1194, static/scss/app/home_mobile.scss */
      .current-note .photos .photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa; }
  /* line 1212, static/scss/app/home_mobile.scss */
  .current-note .current-note-folders-form {
    position: absolute;
    right: 20px;
    top: 60px;
    width: 300px;
    height: 500px;
    background: #f6eadf;
    display: none;
    opacity: 0;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
    z-index: 8; }
    /* line 1234, static/scss/app/home_mobile.scss */
    .current-note .current-note-folders-form #closeCurrentNoteFoldersForm {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      background: #f6eadf;
      box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
      font-size: 40px;
      cursor: pointer; }
    /* line 1259, static/scss/app/home_mobile.scss */
    .current-note .current-note-folders-form #closeCurrentNoteFoldersForm.active {
      box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
    /* line 1266, static/scss/app/home_mobile.scss */
    .current-note .current-note-folders-form .folder-search {
      position: relative;
      top: 50px;
      width: 270px;
      padding: 10px 15px 10px 15px; }
    /* line 1277, static/scss/app/home_mobile.scss */
    .current-note .current-note-folders-form .folder-section-title {
      margin-bottom: 20px;
      font-size: 18px; }
    /* line 1284, static/scss/app/home_mobile.scss */
    .current-note .current-note-folders-form .folder-title {
      position: absolute;
      top: 20px;
      left: 15px;
      font-size: 20px; }
    /* line 1294, static/scss/app/home_mobile.scss */
    .current-note .current-note-folders-form .folder-list {
      position: relative;
      top: 70px;
      width: 270px;
      max-height: 360px;
      box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
      padding: 15px;
      border-radius: 20px;
      overflow: hidden;
      overflow-y: auto; }
      /* line 1312, static/scss/app/home_mobile.scss */
      .current-note .current-note-folders-form .folder-list input {
        display: none; }
      /* line 1314, static/scss/app/home_mobile.scss */
      .current-note .current-note-folders-form .folder-list #noteFolder {
        position: relative;
        width: 250px;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 50px;
        box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer; }
      /* line 1336, static/scss/app/home_mobile.scss */
      .current-note .current-note-folders-form .folder-list #noteFolder.alone {
        margin: 0; }
      /* line 1342, static/scss/app/home_mobile.scss */
      .current-note .current-note-folders-form .folder-list #noteFolder.inNote {
        box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
    /* line 1351, static/scss/app/home_mobile.scss */
    .current-note .current-note-folders-form .create-new-folder-from-search-current {
      position: relative;
      top: 85px;
      display: none; }
      /* line 1358, static/scss/app/home_mobile.scss */
      .current-note .current-note-folders-form .create-new-folder-from-search-current #createFolderInNote {
        padding: 10px;
        font-size: 17px; }
  /* line 1371, static/scss/app/home_mobile.scss */
  .current-note .content {
    position: relative;
    top: 40px;
    left: 2.5%;
    width: 95%;
    height: calc(100% - 140px);
    overflow: visible; }
    /* line 1382, static/scss/app/home_mobile.scss */
    .current-note .content .current-note-content {
      height: 100%;
      overflow: auto;
      padding: 25px;
      border-radius: 30px;
      font-size: 19px;
      box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
  /* line 1400, static/scss/app/home_mobile.scss */
  .current-note .current-note-folders {
    position: relative;
    top: 100px;
    left: 2.5%;
    width: calc(100% - 100px);
    min-height: 40px; }
    /* line 1409, static/scss/app/home_mobile.scss */
    .current-note .current-note-folders .folder {
      position: relative;
      height: 25px;
      min-width: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3px 10px 3px 10px;
      margin: 0 15px 15px 0;
      border-radius: 30px;
      float: left;
      box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa; }
      /* line 1432, static/scss/app/home_mobile.scss */
      .current-note .current-note-folders .folder #removeFolder {
        position: absolute;
        right: 0;
        width: 31px;
        height: 31px;
        padding-top: 3px;
        opacity: 0;
        box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
        font-size: 25px;
        font-weight: bold; }
      /* line 1452, static/scss/app/home_mobile.scss */
      .current-note .current-note-folders .folder #removeFolder.active {
        box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }

/* line 1465, static/scss/app/home_mobile.scss */
.premium-btn {
  position: relative;
  top: 7.5px;
  left: 70px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  border-radius: 50px;
  box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
  cursor: pointer;
  transition: box-shadow 1s ease-in-out; }
  /* line 1489, static/scss/app/home_mobile.scss */
  .premium-btn #crownSVG {
    width: 40px;
    height: 40px; }

/* line 1498, static/scss/app/home_mobile.scss */
.premium-btn.in {
  box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }

/* line 1505, static/scss/app/home_mobile.scss */
.mode {
  position: absolute;
  bottom: -1px;
  right: 130px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left; }
  /* line 1519, static/scss/app/home_mobile.scss */
  .mode .toggle-mode {
    position: absolute;
    cursor: pointer;
    transform: scale(0.2); }

/* line 1530, static/scss/app/home_mobile.scss */
.profile {
  position: absolute;
  right: 10px;
  height: 70px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  cursor: pointer; }
  /* line 1546, static/scss/app/home_mobile.scss */
  .profile .initials {
    width: 55px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    border-radius: 50px;
    box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
    font-weight: bold;
    font-size: 18px;
    transition: all 1s ease-in-out; }
  /* line 1569, static/scss/app/home_mobile.scss */
  .profile .initials.active {
    box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }

/* line 1578, static/scss/app/home_mobile.scss */
.top-nav {
  position: sticky;
  top: 20px;
  left: 2.5%;
  height: 60px;
  width: 95%;
  border-radius: 100px;
  box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa; }
  /* line 1592, static/scss/app/home_mobile.scss */
  .top-nav #toggleSidenavBtn {
    position: relative;
    top: 7.5px;
    left: 7.5px;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
    font-size: 25px;
    font-weight: bold; }
  /* line 1614, static/scss/app/home_mobile.scss */
  .top-nav .search-notes {
    position: relative;
    bottom: 40px;
    left: 65px; }
    /* line 1620, static/scss/app/home_mobile.scss */
    .top-nav .search-notes .search-icon {
      position: absolute;
      left: 15px;
      padding-top: 13px;
      float: left; }
    /* line 1631, static/scss/app/home_mobile.scss */
    .top-nav .search-notes #noteSearch {
      width: 250px;
      height: 45px;
      padding: 5px 50px 0 50px; }
    /* line 1642, static/scss/app/home_mobile.scss */
    .top-nav .search-notes #cancelSearch {
      position: relative;
      right: 45px;
      width: 50px;
      height: 50px;
      float: right;
      padding-top: 4px;
      border-radius: 100px;
      font-size: 35px;
      display: none;
      opacity: 0; }

/* line 1668, static/scss/app/home_mobile.scss */
.new-note, .notes {
  position: relative;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

/* line 1680, static/scss/app/home_mobile.scss */
.notes {
  position: relative;
  top: 20px;
  height: calc(100% - 200px);
  padding-bottom: 30px;
  margin-right: 15px; }
  /* line 1690, static/scss/app/home_mobile.scss */
  .notes .first-note {
    margin: 20px;
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    display: none; }
    /* line 1702, static/scss/app/home_mobile.scss */
    .notes .first-note span {
      margin-bottom: 30px; }
    /* line 1708, static/scss/app/home_mobile.scss */
    .notes .first-note .warn-text {
      font-weight: bold;
      font-size: 25px; }
    /* line 1715, static/scss/app/home_mobile.scss */
    .notes .first-note .cta-text {
      font-size: 16px; }
    /* line 1721, static/scss/app/home_mobile.scss */
    .notes .first-note .cta-btn {
      padding: 10px;
      font-size: 15px; }
  /* line 1731, static/scss/app/home_mobile.scss */
  .notes .create-search-btn {
    position: absolute;
    right: 20px;
    bottom: 20px; }
  /* line 1739, static/scss/app/home_mobile.scss */
  .notes .failed-search {
    position: relative;
    top: 40px;
    display: block;
    font-weight: bold; }
  /* line 1750, static/scss/app/home_mobile.scss */
  .notes .note-section-title {
    position: relative;
    font-weight: bold;
    font-size: 30px; }
  /* line 1759, static/scss/app/home_mobile.scss */
  .notes .note-section {
    position: relative;
    top: 10px;
    padding-top: 20px; }
    /* line 1766, static/scss/app/home_mobile.scss */
    .notes .note-section .section-title {
      font-size: 23px; }
  /* line 1774, static/scss/app/home_mobile.scss */
  .notes .note {
    position: relative;
    top: 20px;
    min-height: 23px;
    width: 300px;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 30px;
    box-shadow: 3px 3px 8px #c5bbb2, -3px -3px 8px #ffffff;
    transition: all 1s ease-in-out; }
    /* line 1792, static/scss/app/home_mobile.scss */
    .notes .note .empty {
      position: absolute;
      top: 23px;
      display: none;
      color: #6e7267;
      font-size: 19px; }
    /* line 1804, static/scss/app/home_mobile.scss */
    .notes .note .note-actions {
      position: absolute;
      top: 10px;
      right: 9px;
      opacity: 0;
      z-index: 2; }
      /* line 1814, static/scss/app/home_mobile.scss */
      .notes .note .note-actions div {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        float: left;
        border-radius: 100px;
        box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
        cursor: pointer;
        transition: all 1s ease-in-out; }
      /* line 1837, static/scss/app/home_mobile.scss */
      .notes .note .note-actions div.active {
        box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }
    /* line 1846, static/scss/app/home_mobile.scss */
    .notes .note .text {
      position: relative;
      z-index: 1; }
      /* line 1852, static/scss/app/home_mobile.scss */
      .notes .note .text span {
        position: relative; }
      /* line 1854, static/scss/app/home_mobile.scss */
      .notes .note .text .title {
        top: 0;
        font-weight: bold; }
      /* line 1862, static/scss/app/home_mobile.scss */
      .notes .note .text .content {
        top: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 15;
        -webkit-box-orient: vertical; }
    /* line 1876, static/scss/app/home_mobile.scss */
    .notes .note .folders {
      position: relative;
      top: 10px;
      width: calc(100% - 60px);
      height: 45px;
      padding: 5px;
      overflow: hidden; }
      /* line 1888, static/scss/app/home_mobile.scss */
      .notes .note .folders .folder {
        position: relative;
        min-width: 15px;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 7px 5px 7px;
        margin: 15px 15px 0 0;
        border-radius: 100px;
        box-shadow: 3px 3px 8px #d8cec4, -3px -3px 8px #fffffa;
        transition: all 1s ease-in-out; }
        /* line 1910, static/scss/app/home_mobile.scss */
        .notes .note .folders .folder span {
          font-size: 16px; }
  /* line 1922, static/scss/app/home_mobile.scss */
  .notes .empty-trash {
    margin-bottom: 20px; }
    /* line 1926, static/scss/app/home_mobile.scss */
    .notes .empty-trash #emptyTrashBtn {
      width: 300px;
      height: 50px;
      display: block;
      margin-top: 20px;
      text-align: center;
      font-size: 19px;
      border-radius: 100px; }
    /* line 1943, static/scss/app/home_mobile.scss */
    .notes .empty-trash #emptyTrashBtn.active {
      width: 300px;
      height: 50px;
      display: block;
      margin-top: 20px;
      text-align: center;
      font-size: 19px;
      border-radius: 100px;
      box-shadow: inset 3px 3px 8px #d8cec4, inset -3px -3px 8px #fffffa; }

/* Premium offer */
/* line 1969, static/scss/app/home_mobile.scss */
.premium {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5); }
  /* line 1988, static/scss/app/home_mobile.scss */
  .premium .wrapper {
    position: relative;
    height: 450px;
    width: 300px;
    background: #fff;
    border-radius: 50px; }

/* Dark mode */
/* line 2004, static/scss/app/home_mobile.scss */
body.dark::-webkit-scrollbar-thumb {
  background: #a3a7ab;
  border-radius: 50px; }

/* line 2011, static/scss/app/home_mobile.scss */
body.dark {
  background: #151718;
  color: #a3a7ab; }
  /* line 2018, static/scss/app/home_mobile.scss */
  body.dark #Icon_feather-mail path {
    stroke: #a3a7ab; }
  /* line 2026, static/scss/app/home_mobile.scss */
  body.dark input {
    color: #a3a7ab;
    background: #151718;
    box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
  /* line 2036, static/scss/app/home_mobile.scss */
  body.dark input::placeholder {
    color: #6e7072; }
  /* line 2042, static/scss/app/home_mobile.scss */
  body.dark button {
    background: #151718;
    color: #a3a7ab;
    box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
  /* line 2052, static/scss/app/home_mobile.scss */
  body.dark svg {
    fill: #a3a7ab; }
  /* line 2058, static/scss/app/home_mobile.scss */
  body.dark [contenteditable]:empty:before {
    color: #6e7072; }
  /* line 2064, static/scss/app/home_mobile.scss */
  body.dark .wrapper {
    background: #151718; }
    /* line 2068, static/scss/app/home_mobile.scss */
    body.dark .wrapper #closePremiumOfferBtn {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 2075, static/scss/app/home_mobile.scss */
    body.dark .wrapper #closePremiumOfferBtn.active {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
  /* line 2086, static/scss/app/home_mobile.scss */
  body.dark .account-preferences #closeAccountPreferences {
    box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
  /* line 2093, static/scss/app/home_mobile.scss */
  body.dark .account-preferences #closeAccountPreferences.active {
    box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
  /* line 2102, static/scss/app/home_mobile.scss */
  body.dark .profile-dropdown {
    background: #151718;
    box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 2113, static/scss/app/home_mobile.scss */
    body.dark .profile-dropdown .buttons a .btn {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
  /* line 2128, static/scss/app/home_mobile.scss */
  body.dark .create-folder .wrapper {
    background: #151718; }
    /* line 2132, static/scss/app/home_mobile.scss */
    body.dark .create-folder .wrapper #closeNewFolderForm.active {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
    /* line 2139, static/scss/app/home_mobile.scss */
    body.dark .create-folder .wrapper .create-folder-btn {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 2146, static/scss/app/home_mobile.scss */
    body.dark .create-folder .wrapper .create-folder-btn.active {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
  /* line 2159, static/scss/app/home_mobile.scss */
  body.dark .edit-folder .wrapper {
    background: #151718; }
    /* line 2165, static/scss/app/home_mobile.scss */
    body.dark .edit-folder .wrapper .form .edit-folder-btn {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 2172, static/scss/app/home_mobile.scss */
    body.dark .edit-folder .wrapper .form .edit-folder-btn.active {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
    /* line 2181, static/scss/app/home_mobile.scss */
    body.dark .edit-folder .wrapper button.active {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
  /* line 2193, static/scss/app/home_mobile.scss */
  body.dark .topnav {
    background: #151718; }
    /* line 2197, static/scss/app/home_mobile.scss */
    body.dark .topnav .topnav-wrapper {
      background: #151718;
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
      /* line 2204, static/scss/app/home_mobile.scss */
      body.dark .topnav .topnav-wrapper #toggleSidenavBtn {
        box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
      /* line 2211, static/scss/app/home_mobile.scss */
      body.dark .topnav .topnav-wrapper #toggleSidenavBtn.active {
        box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
      /* line 2218, static/scss/app/home_mobile.scss */
      body.dark .topnav .topnav-wrapper .premium-btn {
        box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
      /* line 2225, static/scss/app/home_mobile.scss */
      body.dark .topnav .topnav-wrapper .premium-btn.in {
        box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
      /* line 2232, static/scss/app/home_mobile.scss */
      body.dark .topnav .topnav-wrapper .initials {
        box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
      /* line 2239, static/scss/app/home_mobile.scss */
      body.dark .topnav .topnav-wrapper .initials.active {
        box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
  /* line 2250, static/scss/app/home_mobile.scss */
  body.dark .sidenav {
    background: #151718;
    transition: all 1s ease-in-out; }
    /* line 2256, static/scss/app/home_mobile.scss */
    body.dark .sidenav .page {
      background: #151718;
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
      /* line 2263, static/scss/app/home_mobile.scss */
      body.dark .sidenav .page .edit-folder-btn-init {
        box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
      /* line 2270, static/scss/app/home_mobile.scss */
      body.dark .sidenav .page .edit-folder-btn-init.active {
        box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
    /* line 2279, static/scss/app/home_mobile.scss */
    body.dark .sidenav .page.active {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
  /* line 2288, static/scss/app/home_mobile.scss */
  body.dark .sidenav.open {
    box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px transparent; }
  /* line 2295, static/scss/app/home_mobile.scss */
  body.dark .sidenav::-webkit-scrollbar-thumb {
    background: #a3a7ab; }
  /* line 2303, static/scss/app/home_mobile.scss */
  body.dark .new-note .wrapper {
    box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 2310, static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper .filters div {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 2317, static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper .filters div.active {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
    /* line 2326, static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper #closeNewNote {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 2333, static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper #closeNewNote.active {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
    /* line 2342, static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper .new-note-rte .rte-wrapper {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 2349, static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper .new-note-rte .wrapper {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 2356, static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper .new-note-rte button {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 2363, static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper .new-note-rte button.active {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
    /* line 2372, static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper #newNoteContentCE {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
    /* line 2381, static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper #newNoteData .create-note-btn {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 2388, static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper #newNoteData .create-note-btn.active {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
    /* line 2397, static/scss/app/home_mobile.scss */
    body.dark .new-note .wrapper .new-note-folders-form {
      background: #151718;
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
      /* line 2404, static/scss/app/home_mobile.scss */
      body.dark .new-note .wrapper .new-note-folders-form #closeNewNoteFoldersForm {
        background: #151718;
        box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
      /* line 2413, static/scss/app/home_mobile.scss */
      body.dark .new-note .wrapper .new-note-folders-form #closeNewNoteFoldersForm.active {
        box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
      /* line 2420, static/scss/app/home_mobile.scss */
      body.dark .new-note .wrapper .new-note-folders-form .new-note-folder-list {
        box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
        /* line 2425, static/scss/app/home_mobile.scss */
        body.dark .new-note .wrapper .new-note-folders-form .new-note-folder-list #newNoteFolder {
          box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
        /* line 2432, static/scss/app/home_mobile.scss */
        body.dark .new-note .wrapper .new-note-folders-form .new-note-folder-list #newNoteFolder.inNote {
          box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
      /* line 2441, static/scss/app/home_mobile.scss */
      body.dark .new-note .wrapper .new-note-folders-form .new-note-folder-list::-webkit-scrollbar-thumb {
        background: #a3a7ab; }
  /* line 2455, static/scss/app/home_mobile.scss */
  body.dark .photo-carousel #previousPhoto, body.dark .photo-carousel #nextPhoto {
    background: rgba(21, 23, 24, 0.7);
    box-shadow: none; }
  /* line 2467, static/scss/app/home_mobile.scss */
  body.dark .current-note #currentNoteWrapper::-webkit-scrollbar-thumb {
    background: #a3a7ab; }
  /* line 2473, static/scss/app/home_mobile.scss */
  body.dark .current-note .wrapper {
    background: #151718; }
    /* line 2479, static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .top #closeCurrentNote {
      box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #202324; }
    /* line 2492, static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .photos .photo img {
      box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #202324; }
    /* line 2501, static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .photos .photo #removePhoto svg {
      fill: #151718; }
    /* line 2513, static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .current-note-content::-webkit-scrollbar-thumb {
      background: #a3a7ab;
      border-radius: 50px; }
    /* line 2522, static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .rte .rte-wrapper {
      box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #202324; }
      /* line 2527, static/scss/app/home_mobile.scss */
      body.dark .current-note .wrapper .rte .rte-wrapper button {
        box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #202324; }
      /* line 2534, static/scss/app/home_mobile.scss */
      body.dark .current-note .wrapper .rte .rte-wrapper button.active {
        box-shadow: inset 4px 4px 8px #0a0b0c, inset -4px -4px 8px #202324; }
      /* line 2545, static/scss/app/home_mobile.scss */
      body.dark .current-note .wrapper .rte .rte-wrapper #photoBtnCurrent svg path {
        fill: #a3a7ab; }
    /* line 2557, static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .rte .rte-wrapper::-webkit-scrollbar-thumb {
      background: #a3a7ab; }
    /* line 2565, static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .current-note-folders-form {
      background: #151718;
      box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #202324; }
      /* line 2572, static/scss/app/home_mobile.scss */
      body.dark .current-note .wrapper .current-note-folders-form #closeCurrentNoteFoldersForm {
        background: #151718;
        box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #202324; }
      /* line 2581, static/scss/app/home_mobile.scss */
      body.dark .current-note .wrapper .current-note-folders-form #closeCurrentNoteFoldersForm.active {
        box-shadow: inset 4px 4px 8px #0a0b0c, inset -4px -4px 8px #202324; }
      /* line 2588, static/scss/app/home_mobile.scss */
      body.dark .current-note .wrapper .current-note-folders-form .folder-list::-webkit-scrollbar-thumb {
        background: #a3a7ab; }
      /* line 2594, static/scss/app/home_mobile.scss */
      body.dark .current-note .wrapper .current-note-folders-form .folder-list {
        box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #202324; }
        /* line 2599, static/scss/app/home_mobile.scss */
        body.dark .current-note .wrapper .current-note-folders-form .folder-list #noteFolder {
          box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #202324; }
        /* line 2606, static/scss/app/home_mobile.scss */
        body.dark .current-note .wrapper .current-note-folders-form .folder-list #noteFolder.inNote {
          box-shadow: inset 4px 4px 8px #0a0b0c, inset -4px -4px 8px #202324; }
    /* line 2617, static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .current-note-folders-form::-webkit-scrollbar-thumb {
      background: #a3a7ab; }
    /* line 2623, static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .current-note-content {
      box-shadow: inset 4px 4px 8px #0a0b0c, inset -4px -4px 8px #202324; }
    /* line 2632, static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .current-note-folders .folder {
      box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #202324; }
    /* line 2639, static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .current-note-folders #removeFolder {
      box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #202324; }
    /* line 2646, static/scss/app/home_mobile.scss */
    body.dark .current-note .wrapper .current-note-folders #removeFolder.active {
      box-shadow: inset 4px 4px 8px #0a0b0c, inset -4px -4px 8px #202324; }
  /* line 2659, static/scss/app/home_mobile.scss */
  body.dark .note {
    box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #202324; }
    /* line 2664, static/scss/app/home_mobile.scss */
    body.dark .note .empty {
      color: #6e7072; }
    /* line 2672, static/scss/app/home_mobile.scss */
    body.dark .note .note-actions div {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
    /* line 2679, static/scss/app/home_mobile.scss */
    body.dark .note .note-actions div.active {
      box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }
    /* line 2690, static/scss/app/home_mobile.scss */
    body.dark .note .folders .folder {
      box-shadow: 4px 4px 8px #0e1011, -4px -4px 8px #1c1e1f; }
  /* line 2703, static/scss/app/home_mobile.scss */
  body.dark .notes #emptyTrashBtn.active {
    box-shadow: inset 4px 4px 8px #0e1011, inset -4px -4px 8px #1c1e1f; }

/* line 2716, static/scss/app/home_mobile.scss */
svg.error path {
  fill: red; }

/* Toggle mode btn */
/* line 2726, static/scss/app/home_mobile.scss */
.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* line 2734, static/scss/app/home_mobile.scss */
.toggle-slot {
  position: relative;
  height: 10em;
  width: 20em;
  border-radius: 10em;
  background: #f6eadf;
  transition: background-color 250ms;
  box-shadow: 3px 3px 8px #c5bbb2, -3px -3px 8px #fffffa;
  transition: all 1s ease-in-out; }

/* line 2747, static/scss/app/home_mobile.scss */
.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #151718;
  box-shadow: 4px 4px 8px #0a0b0c, -4px -4px 8px #1c1e1f; }

/* line 2756, static/scss/app/home_mobile.scss */
.toggle-button {
  transform: translate(11.75em, 1.75em);
  position: absolute;
  height: 6.5em;
  width: 6.5em;
  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
  transition: all 1s ease-in-out, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71); }

/* line 2767, static/scss/app/home_mobile.scss */
.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #151718;
  box-shadow: inset 0px 0px 0px 0.75em #a3a7ab;
  transform: translate(1.75em, 1.75em); }

/* line 2773, static/scss/app/home_mobile.scss */
.sun-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: #ffbb52;
  transition: all 1s ease-in-out; }

/* line 2783, static/scss/app/home_mobile.scss */
.sun-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 1;
  transform: translate(2em, 2em) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71); }

/* line 2793, static/scss/app/home_mobile.scss */
.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(3em, 2em) rotate(0deg); }

/* line 2798, static/scss/app/home_mobile.scss */
.moon-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: #a3a7ab;
  transition: all 1s ease-in-out; }

/* line 2808, static/scss/app/home_mobile.scss */
.moon-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 0;
  transform: translate(11em, 2em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2.5, 0.46, 0.71); }

/* line 2818, static/scss/app/home_mobile.scss */
.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(12em, 2em) rotate(-15deg); }
