/* line 3, static/scss/base/landing-mobile.scss */
body, html {
  margin: 0;
  color: #1E2330;
  width: 100%; }

/* line 12, static/scss/base/landing-mobile.scss */
button {
  outline: none; }

/* line 18, static/scss/base/landing-mobile.scss */
::-webkit-scrollbar {
  width: 10px; }

/* line 25, static/scss/base/landing-mobile.scss */
::-webkit-scrollbar-track {
  border-radius: 10px; }

/* line 31, static/scss/base/landing-mobile.scss */
::-webkit-scrollbar-thumb {
  background: #1E2330;
  border-radius: 50px; }

/* line 40, static/scss/base/landing-mobile.scss */
#homeBtn {
  width: 100px; }

/* line 41, static/scss/base/landing-mobile.scss */
#logoutBtn {
  width: 120px; }

/* line 42, static/scss/base/landing-mobile.scss */
#loginBtn {
  width: 120px; }

/* line 44, static/scss/base/landing-mobile.scss */
.top-nav {
  position: relative;
  top: 20px;
  width: 100%;
  height: 50px;
  z-index: 10; }
  /* line 54, static/scss/base/landing-mobile.scss */
  .top-nav .brand {
    position: relative;
    left: 30px;
    width: 300px;
    cursor: pointer; }
    /* line 63, static/scss/base/landing-mobile.scss */
    .top-nav .brand a {
      text-decoration: none;
      color: #1E2330;
      width: 300px; }
    /* line 73, static/scss/base/landing-mobile.scss */
    .top-nav .brand svg {
      position: relative;
      left: 15px;
      transform: scale(1.8);
      fill: #1E2330;
      float: left; }
    /* line 85, static/scss/base/landing-mobile.scss */
    .top-nav .brand h1 {
      position: relative;
      left: 40px;
      width: 300px;
      font-size: 40px; }
  /* line 99, static/scss/base/landing-mobile.scss */
  .top-nav .btns {
    position: absolute;
    bottom: -3px;
    right: 50px;
    height: 60px;
    display: inline-block; }
    /* line 109, static/scss/base/landing-mobile.scss */
    .top-nav .btns .auth-btn.in {
      box-shadow: inset 1px 1px 4px #b9b9b7, inset -1px -1px 4px #ffffff; }
    /* line 116, static/scss/base/landing-mobile.scss */
    .top-nav .btns div {
      position: relative;
      height: 20px;
      padding: 20px;
      margin-left: 40px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      cursor: pointer;
      box-shadow: 1px 1px 4px #b9b9b7, -1px -1px 4px #ffffff;
      float: left; }
      /* line 138, static/scss/base/landing-mobile.scss */
      .top-nav .btns div svg {
        position: absolute;
        left: 20px;
        fill: #1E2330; }
      /* line 147, static/scss/base/landing-mobile.scss */
      .top-nav .btns div .home {
        transform: scale(1.3); }
      /* line 153, static/scss/base/landing-mobile.scss */
      .top-nav .btns div .logout {
        margin-top: 3px;
        transform: scale(1.2); }
      /* line 161, static/scss/base/landing-mobile.scss */
      .top-nav .btns div .login {
        transform: scale(1.3); }
      /* line 168, static/scss/base/landing-mobile.scss */
      .top-nav .btns div span {
        position: relative;
        left: 45px;
        top: 3px;
        font-size: 20px; }
    /* line 180, static/scss/base/landing-mobile.scss */
    .top-nav .btns a {
      text-decoration: none;
      color: #1E2330;
      cursor: pointer; }

/* line 192, static/scss/base/landing-mobile.scss */
.main {
  position: relative;
  width: 100%; }
  /* line 197, static/scss/base/landing-mobile.scss */
  .main .circles {
    position: absolute;
    left: -20px;
    top: 100px;
    width: 100%;
    height: 1000px;
    overflow: hidden; }
    /* line 208, static/scss/base/landing-mobile.scss */
    .main .circles div {
      position: absolute;
      transform: scale(1);
      border-radius: 1000px; }
    /* line 218, static/scss/base/landing-mobile.scss */
    .main .circles .big {
      top: 20px;
      width: 1000px;
      height: 1000px;
      background-color: #e9812d;
      transition: all 3s ease-in-out; }
    /* line 231, static/scss/base/landing-mobile.scss */
    .main .circles .medium {
      top: 350px;
      left: 100px;
      width: 550px;
      height: 550px;
      background-color: #efca59;
      transition: all 1.5s ease-in-out; }
    /* line 245, static/scss/base/landing-mobile.scss */
    .main .circles .small {
      top: 50px;
      left: 500px;
      width: 400px;
      height: 400px;
      background-color: #efa4c1;
      transition: all 1s ease-in-out; }
  /* line 261, static/scss/base/landing-mobile.scss */
  .main .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1122px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(190px);
    -webkit-backdrop-filter: blur(180px); }
    /* line 277, static/scss/base/landing-mobile.scss */
    .main .content .info {
      position: relative;
      width: 100%;
      height: 1000px;
      overflow: hidden; }
      /* line 286, static/scss/base/landing-mobile.scss */
      .main .content .info .text {
        position: relative;
        top: 220px;
        left: 125px;
        width: calc(50% - 500px);
        float: left; }
        /* line 296, static/scss/base/landing-mobile.scss */
        .main .content .info .text span {
          font-size: 100px;
          font-weight: bold; }
        /* line 304, static/scss/base/landing-mobile.scss */
        .main .content .info .text h1 {
          font-weight: normal;
          font-size: 30px; }
        /* line 311, static/scss/base/landing-mobile.scss */
        .main .content .info .text button {
          position: relative;
          top: 30px;
          height: 70px;
          width: 450px;
          padding: 10px;
          background: rgba(255, 255, 255, 0.2);
          box-shadow: 1px 1px 4px #b9b9b7, -1px -1px 4px #ffffff;
          border: none;
          border-radius: 100px;
          font-family: Comfortaa;
          cursor: pointer;
          color: #1E2330; }
          /* line 335, static/scss/base/landing-mobile.scss */
          .main .content .info .text button h1 {
            margin: 0;
            font-weight: normal;
            font-size: 30px; }
        /* line 346, static/scss/base/landing-mobile.scss */
        .main .content .info .text button.in {
          box-shadow: inset 1px 1px 4px #b9b9b7, inset -1px -1px 4px #ffffff; }
    /* line 357, static/scss/base/landing-mobile.scss */
    .main .content .img {
      position: relative;
      top: 30px;
      width: 50%;
      float: right;
      overflow: hidden; }
      /* line 368, static/scss/base/landing-mobile.scss */
      .main .content .img img {
        position: relative; }

/* line 381, static/scss/base/landing-mobile.scss */
.bottom-nav {
  position: relative;
  top: -70px;
  left: -15px;
  width: 100%; }
  /* line 389, static/scss/base/landing-mobile.scss */
  .bottom-nav .links {
    position: relative;
    left: 5px;
    bottom: 9px;
    float: left; }
    /* line 397, static/scss/base/landing-mobile.scss */
    .bottom-nav .links ul {
      list-style-type: none; }
      /* line 401, static/scss/base/landing-mobile.scss */
      .bottom-nav .links ul li {
        display: inline-block;
        margin-right: 30px;
        /* Link hover effect */ }
        /* line 407, static/scss/base/landing-mobile.scss */
        .bottom-nav .links ul li a {
          text-decoration: none;
          color: #1E2330;
          font-size: 23px; }
          /* line 414, static/scss/base/landing-mobile.scss */
          .bottom-nav .links ul li a .copyright {
            width: 275px;
            font-weight: normal;
            font-size: 27px; }
        /* line 427, static/scss/base/landing-mobile.scss */
        .bottom-nav .links ul li .link:before, .bottom-nav .links ul li .link:after, .bottom-nav .links ul li .link > span:before, .bottom-nav .links ul li .link > span:after {
          content: '';
          position: absolute;
          transition: transform .5s ease; }
        /* line 435, static/scss/base/landing-mobile.scss */
        .bottom-nav .links ul li .link, .bottom-nav .links ul li .link > span {
          position: relative;
          color: #1E2330;
          text-decoration: none;
          line-height: 24px; }
        /* line 444, static/scss/base/landing-mobile.scss */
        .bottom-nav .links ul li .link {
          display: inline-flex;
          padding-top: 10px;
          padding-bottom: 5px;
          overflow: hidden; }
        /* line 453, static/scss/base/landing-mobile.scss */
        .bottom-nav .links ul li .link:before {
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background: #492059;
          transform: translateX(-100%); }
        /* line 464, static/scss/base/landing-mobile.scss */
        .bottom-nav .links ul li .link:hover:before {
          transform: translateX(0); }
  /* line 476, static/scss/base/landing-mobile.scss */
  .bottom-nav .social-media {
    position: absolute;
    top: 34px;
    right: 32px; }
    /* line 482, static/scss/base/landing-mobile.scss */
    .bottom-nav .social-media div {
      cursor: pointer;
      transform: scale(1);
      transition: all 0.5s ease-in-out; }
    /* line 492, static/scss/base/landing-mobile.scss */
    .bottom-nav .social-media div:hover {
      transform: scale(1.2); }

@media screen and (max-width: 1330px) {
  /* line 506, static/scss/base/landing-mobile.scss */
  .main .circles {
    height: 900px; }
    /* line 510, static/scss/base/landing-mobile.scss */
    .main .circles .big {
      width: 850px;
      height: 850px; }
    /* line 517, static/scss/base/landing-mobile.scss */
    .main .circles .medium {
      width: 550px;
      height: 550px; }
    /* line 524, static/scss/base/landing-mobile.scss */
    .main .circles .small {
      width: 350px;
      height: 350px; }
  /* line 533, static/scss/base/landing-mobile.scss */
  .main .content {
    height: 1050px; }
    /* line 539, static/scss/base/landing-mobile.scss */
    .main .content .info .text {
      top: 170px;
      left: 100px; }
      /* line 544, static/scss/base/landing-mobile.scss */
      .main .content .info .text span {
        font-size: 85px; }
      /* line 550, static/scss/base/landing-mobile.scss */
      .main .content .info .text h2 {
        font-size: 50px; }
      /* line 556, static/scss/base/landing-mobile.scss */
      .main .content .info .text button {
        height: 55px;
        width: 320px;
        font-size: 23px; }
        /* line 563, static/scss/base/landing-mobile.scss */
        .main .content .info .text button h1 {
          font-size: 23px; }
  /* line 579, static/scss/base/landing-mobile.scss */
  .main .img img {
    bottom: 40px;
    right: 160px;
    transform: scale(0.8); }
  /* line 592, static/scss/base/landing-mobile.scss */
  .bottom-nav {
    top: -120px; } }

@media screen and (max-width: 850px) {
  /* line 608, static/scss/base/landing-mobile.scss */
  .main .top-nav .brand {
    top: 20px;
    left: 20px; }
  /* line 615, static/scss/base/landing-mobile.scss */
  .main .top-nav .btns {
    position: absolute;
    bottom: -10px;
    right: 10px; }
    /* line 621, static/scss/base/landing-mobile.scss */
    .main .top-nav .btns #homeBtn, .main .top-nav .btns #logoutBtn, .main .top-nav .btns #loginBtn {
      width: 30px; }
    /* line 623, static/scss/base/landing-mobile.scss */
    .main .top-nav .btns .auth-btn {
      position: relative;
      right: 15px;
      height: 30px;
      justify-content: center;
      margin-left: 30px; }
      /* line 634, static/scss/base/landing-mobile.scss */
      .main .top-nav .btns .auth-btn svg {
        position: absolute; }
      /* line 640, static/scss/base/landing-mobile.scss */
      .main .top-nav .btns .auth-btn .home {
        transform: scale(1.3); }
      /* line 646, static/scss/base/landing-mobile.scss */
      .main .top-nav .btns .auth-btn .logout {
        margin-top: 3px;
        transform: scale(1.2); }
      /* line 654, static/scss/base/landing-mobile.scss */
      .main .top-nav .btns .auth-btn .login {
        transform: scale(1.3); }
      /* line 661, static/scss/base/landing-mobile.scss */
      .main .top-nav .btns .auth-btn span {
        display: none; }
  /* line 673, static/scss/base/landing-mobile.scss */
  .main .circles {
    height: 850px; }
  /* line 679, static/scss/base/landing-mobile.scss */
  .main .content {
    height: 1000px; }
    /* line 683, static/scss/base/landing-mobile.scss */
    .main .content .info {
      height: 800px; }
      /* line 687, static/scss/base/landing-mobile.scss */
      .main .content .info .text {
        top: 200px;
        left: 40px;
        width: 100%; }
        /* line 694, static/scss/base/landing-mobile.scss */
        .main .content .info .text span {
          font-size: 55px; }
        /* line 700, static/scss/base/landing-mobile.scss */
        .main .content .info .text h2 {
          font-size: 30px; }
        /* line 706, static/scss/base/landing-mobile.scss */
        .main .content .info .text button {
          height: 55px;
          width: 270px;
          font-size: 20px; }
      /* line 717, static/scss/base/landing-mobile.scss */
      .main .content .info .img {
        width: 100%;
        display: none; }
  /* line 731, static/scss/base/landing-mobile.scss */
  .main .img img {
    bottom: 40px;
    right: 160px;
    transform: scale(0.8); }
  /* line 744, static/scss/base/landing-mobile.scss */
  .bottom-nav {
    left: -30px;
    top: 40px; }
    /* line 755, static/scss/base/landing-mobile.scss */
    .bottom-nav .links ul li a {
      font-size: 16px; }
      /* line 759, static/scss/base/landing-mobile.scss */
      .bottom-nav .links ul li a .copyright {
        width: 190px;
        margin: 0;
        font-size: 19px; } }

@media screen and (max-width: 850px) {
  /* line 787, static/scss/base/landing-mobile.scss */
  .main .top-nav .brand {
    top: 20px;
    left: 20px; }
    /* line 792, static/scss/base/landing-mobile.scss */
    .main .top-nav .brand h1 {
      display: none; }
  /* line 806, static/scss/base/landing-mobile.scss */
  .main .content .info .text {
    width: calc(100% - 80px); }
  /* line 816, static/scss/base/landing-mobile.scss */
  .main .circles {
    height: 800px; }
  /* line 822, static/scss/base/landing-mobile.scss */
  .main .content {
    height: 950px; } }

@media screen and (max-width: 589px) {
  /* line 836, static/scss/base/landing-mobile.scss */
  .main .circles {
    height: 850px; }
  /* line 843, static/scss/base/landing-mobile.scss */
  .main .content {
    height: 1000px; } }

@media screen and (min-width: 850px) and (max-width: 915px) {
  /* line 855, static/scss/base/landing-mobile.scss */
  .bottom-nav {
    top: -140px; } }
