/* line 6, static/scss/base/landing.scss */
body, html {
  margin: 0;
  color: #ffffff;
  width: 100%;
  background: #151718; }

/* line 17, static/scss/base/landing.scss */
button {
  outline: none; }

/* line 23, static/scss/base/landing.scss */
::-webkit-scrollbar {
  width: 10px; }

/* line 30, static/scss/base/landing.scss */
::-webkit-scrollbar-track {
  border-radius: 10px; }

/* line 36, static/scss/base/landing.scss */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 50px; }

/* line 45, static/scss/base/landing.scss */
#homeBtn {
  width: 100px; }

/* line 46, static/scss/base/landing.scss */
#logoutBtn {
  width: 120px; }

/* line 47, static/scss/base/landing.scss */
#loginBtn {
  width: 120px; }

/* line 49, static/scss/base/landing.scss */
.top-nav {
  position: relative;
  top: 60px;
  width: 100%;
  height: 50px;
  z-index: 10; }
  /* line 59, static/scss/base/landing.scss */
  .top-nav .brand {
    position: absolute;
    left: 10px;
    width: 300px;
    cursor: pointer; }
    /* line 68, static/scss/base/landing.scss */
    .top-nav .brand a {
      text-decoration: none;
      color: #ffffff;
      width: 300px; }
    /* line 78, static/scss/base/landing.scss */
    .top-nav .brand #logoWrapper {
      position: relative;
      top: -40px;
      left: 55px;
      width: 150px;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 200px;
      cursor: pointer;
      box-shadow: 5px 5px 8px #08090a, -5px -5px 8px #222526; }
      /* line 98, static/scss/base/landing.scss */
      .top-nav .brand #logoWrapper .safe-logo {
        position: relative;
        transform: scale(0.7);
        fill: #ffffff;
        float: left; }
    /* line 111, static/scss/base/landing.scss */
    .top-nav .brand h1 {
      position: relative;
      left: 40px;
      width: 300px;
      font-size: 40px; }
  /* line 126, static/scss/base/landing.scss */
  .top-nav .btns {
    position: absolute;
    bottom: -10px;
    right: 50px;
    height: 60px;
    display: inline-block; }
    /* line 136, static/scss/base/landing.scss */
    .top-nav .btns .auth-btn.in {
      box-shadow: inset 5px 5px 8px #08090a, inset -5px -5px 8px #222526; }
    /* line 143, static/scss/base/landing.scss */
    .top-nav .btns div {
      position: relative;
      height: 20px;
      padding: 20px;
      margin-left: 40px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      cursor: pointer;
      box-shadow: 5px 5px 8px #08090a, -5px -5px 8px #222526;
      float: left; }
      /* line 165, static/scss/base/landing.scss */
      .top-nav .btns div svg {
        position: absolute;
        left: 20px;
        fill: #ffffff; }
      /* line 174, static/scss/base/landing.scss */
      .top-nav .btns div .home {
        transform: scale(1.3); }
      /* line 180, static/scss/base/landing.scss */
      .top-nav .btns div .logout {
        margin-top: 3px;
        transform: scale(1.2); }
      /* line 188, static/scss/base/landing.scss */
      .top-nav .btns div .login {
        transform: scale(1.3); }
      /* line 195, static/scss/base/landing.scss */
      .top-nav .btns div span {
        position: relative;
        left: 45px;
        top: 3px;
        font-size: 20px; }
    /* line 207, static/scss/base/landing.scss */
    .top-nav .btns a {
      text-decoration: none;
      color: #ffffff;
      cursor: pointer; }

/* line 219, static/scss/base/landing.scss */
.main {
  position: relative;
  width: 100%; }
  /* line 225, static/scss/base/landing.scss */
  .main .content {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 1152px;
    overflow: hidden;
    backdrop-filter: blur(190px);
    -webkit-backdrop-filter: blur(180px); }
    /* line 239, static/scss/base/landing.scss */
    .main .content .info {
      position: relative;
      top: 100px;
      width: 100%;
      height: 1000px;
      overflow: hidden; }
      /* line 250, static/scss/base/landing.scss */
      .main .content .info .text {
        position: relative;
        top: 220px;
        left: 125px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        float: left; }
        /* line 265, static/scss/base/landing.scss */
        .main .content .info .text span {
          font-size: 100px;
          font-weight: bold;
          text-shadow: 1px 1px 3px #ffffff; }
        /* line 274, static/scss/base/landing.scss */
        .main .content .info .text h2 {
          font-weight: normal;
          font-size: 52px;
          line-height: 65px; }
        /* line 283, static/scss/base/landing.scss */
        .main .content .info .text button {
          position: relative;
          top: 30px;
          height: 70px;
          width: 450px;
          padding: 10px;
          background: none;
          box-shadow: 5px 5px 8px #08090a, -5px -5px 8px #222526;
          border: none;
          border-radius: 100px;
          font-family: Comfortaa;
          font-size: 30px;
          cursor: pointer;
          color: #ffffff; }
        /* line 310, static/scss/base/landing.scss */
        .main .content .info .text button.in {
          box-shadow: inset 5px 5px 8px #08090a, inset -5px -5px 8px #222526; }
    /* line 321, static/scss/base/landing.scss */
    .main .content .img {
      position: relative;
      top: 30px;
      width: 50%;
      float: right;
      overflow: hidden; }
      /* line 332, static/scss/base/landing.scss */
      .main .content .img img {
        position: relative; }

/* line 345, static/scss/base/landing.scss */
.bottom-nav {
  position: relative;
  top: -30px;
  left: -15px;
  width: 100%; }
  /* line 353, static/scss/base/landing.scss */
  .bottom-nav .links {
    position: relative;
    left: 5px;
    bottom: 9px;
    float: left; }
    /* line 361, static/scss/base/landing.scss */
    .bottom-nav .links ul {
      list-style-type: none; }
      /* line 365, static/scss/base/landing.scss */
      .bottom-nav .links ul li {
        display: inline-block;
        margin-right: 30px;
        /* Link hover effect */ }
        /* line 371, static/scss/base/landing.scss */
        .bottom-nav .links ul li a {
          text-decoration: none;
          color: #ffffff;
          font-size: 23px; }
          /* line 378, static/scss/base/landing.scss */
          .bottom-nav .links ul li a .copyright {
            width: 275px;
            font-weight: normal;
            font-size: 27px; }
        /* line 391, static/scss/base/landing.scss */
        .bottom-nav .links ul li .link:before, .bottom-nav .links ul li .link:after, .bottom-nav .links ul li .link > span:before, .bottom-nav .links ul li .link > span:after {
          content: '';
          position: absolute;
          transition: transform .5s ease; }
        /* line 399, static/scss/base/landing.scss */
        .bottom-nav .links ul li .link, .bottom-nav .links ul li .link > span {
          position: relative;
          color: #fff;
          text-decoration: none;
          line-height: 24px; }
        /* line 408, static/scss/base/landing.scss */
        .bottom-nav .links ul li .link {
          display: inline-flex;
          padding-top: 10px;
          padding-bottom: 5px;
          overflow: hidden; }
        /* line 417, static/scss/base/landing.scss */
        .bottom-nav .links ul li .link:before {
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background: #fff;
          transform: translateX(-100%); }
        /* line 428, static/scss/base/landing.scss */
        .bottom-nav .links ul li .link:hover:before {
          transform: translateX(0); }
  /* line 440, static/scss/base/landing.scss */
  .bottom-nav .social-media {
    position: absolute;
    top: 34px;
    right: 32px; }
    /* line 446, static/scss/base/landing.scss */
    .bottom-nav .social-media svg {
      fill: #ffffff;
      cursor: pointer;
      transition: all 0.25s ease-in-out; }
    /* line 456, static/scss/base/landing.scss */
    .bottom-nav .social-media svg:hover {
      fill: #30AADD; }

@media screen and (max-width: 1330px) {
  /* line 470, static/scss/base/landing.scss */
  .main .circles {
    height: 900px; }
    /* line 474, static/scss/base/landing.scss */
    .main .circles .big {
      width: 850px;
      height: 850px; }
    /* line 481, static/scss/base/landing.scss */
    .main .circles .medium {
      width: 550px;
      height: 550px; }
    /* line 488, static/scss/base/landing.scss */
    .main .circles .small {
      width: 350px;
      height: 350px; }
  /* line 497, static/scss/base/landing.scss */
  .main .content {
    height: 1050px; }
    /* line 503, static/scss/base/landing.scss */
    .main .content .info .text {
      top: 170px;
      left: 100px; }
      /* line 508, static/scss/base/landing.scss */
      .main .content .info .text span {
        font-size: 85px; }
      /* line 514, static/scss/base/landing.scss */
      .main .content .info .text h2 {
        font-size: 50px; }
      /* line 520, static/scss/base/landing.scss */
      .main .content .info .text button {
        height: 55px;
        width: 320px;
        font-size: 23px; }
        /* line 527, static/scss/base/landing.scss */
        .main .content .info .text button h1 {
          font-size: 23px; }
  /* line 543, static/scss/base/landing.scss */
  .main .img img {
    bottom: 40px;
    right: 160px;
    transform: scale(0.8); }
  /* line 556, static/scss/base/landing.scss */
  .bottom-nav {
    top: -120px; }
    /* line 560, static/scss/base/landing.scss */
    .bottom-nav .social-media {
      top: 5px;
      right: 20px; } }

@media screen and (max-width: 850px) {
  /* line 579, static/scss/base/landing.scss */
  .main .top-nav .brand {
    top: 20px;
    left: 20px; }
  /* line 586, static/scss/base/landing.scss */
  .main .top-nav .btns {
    position: absolute;
    bottom: -10px;
    right: 10px; }
    /* line 592, static/scss/base/landing.scss */
    .main .top-nav .btns #homeBtn, .main .top-nav .btns #logoutBtn, .main .top-nav .btns #loginBtn {
      width: 30px; }
    /* line 594, static/scss/base/landing.scss */
    .main .top-nav .btns .auth-btn {
      position: relative;
      right: 15px;
      height: 30px;
      justify-content: center;
      margin-left: 30px; }
      /* line 605, static/scss/base/landing.scss */
      .main .top-nav .btns .auth-btn svg {
        position: absolute; }
      /* line 611, static/scss/base/landing.scss */
      .main .top-nav .btns .auth-btn .home {
        transform: scale(1.3); }
      /* line 617, static/scss/base/landing.scss */
      .main .top-nav .btns .auth-btn .logout {
        margin-top: 3px;
        transform: scale(1.2); }
      /* line 625, static/scss/base/landing.scss */
      .main .top-nav .btns .auth-btn .login {
        transform: scale(1.3); }
      /* line 632, static/scss/base/landing.scss */
      .main .top-nav .btns .auth-btn span {
        display: none; }
  /* line 644, static/scss/base/landing.scss */
  .main .circles {
    height: 850px; }
  /* line 650, static/scss/base/landing.scss */
  .main .content {
    height: 1000px; }
    /* line 654, static/scss/base/landing.scss */
    .main .content .info {
      height: 800px; }
      /* line 658, static/scss/base/landing.scss */
      .main .content .info .text {
        top: 200px;
        left: 40px;
        width: 100%; }
        /* line 665, static/scss/base/landing.scss */
        .main .content .info .text span {
          font-size: 55px; }
        /* line 671, static/scss/base/landing.scss */
        .main .content .info .text h2 {
          font-size: 30px; }
        /* line 677, static/scss/base/landing.scss */
        .main .content .info .text button {
          height: 55px;
          width: 270px;
          font-size: 20px; }
      /* line 688, static/scss/base/landing.scss */
      .main .content .info .img {
        width: 100%;
        display: none; }
  /* line 702, static/scss/base/landing.scss */
  .main .img img {
    bottom: 40px;
    right: 160px;
    transform: scale(0.8); }
  /* line 715, static/scss/base/landing.scss */
  .bottom-nav {
    left: -30px;
    top: 40px; }
    /* line 726, static/scss/base/landing.scss */
    .bottom-nav .links ul li a {
      font-size: 16px; }
      /* line 730, static/scss/base/landing.scss */
      .bottom-nav .links ul li a .copyright {
        width: 190px;
        margin: 0;
        font-size: 19px; } }

@media screen and (max-width: 850px) {
  /* line 758, static/scss/base/landing.scss */
  .main .top-nav .brand {
    top: 20px;
    left: 20px; }
    /* line 763, static/scss/base/landing.scss */
    .main .top-nav .brand h1 {
      display: none; }
  /* line 773, static/scss/base/landing.scss */
  .main .circles {
    height: 800px; }
  /* line 779, static/scss/base/landing.scss */
  .main .content {
    height: 950px; } }

@media screen and (max-width: 589px) {
  /* line 793, static/scss/base/landing.scss */
  .main .circles {
    height: 850px; }
  /* line 800, static/scss/base/landing.scss */
  .main .content {
    height: 1000px; } }

@media screen and (min-width: 850px) and (max-width: 915px) {
  /* line 812, static/scss/base/landing.scss */
  .bottom-nav {
    top: -140px; } }
