/* line 3, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
body, html {
  margin: 0;
  color: #1E2330;
  width: 100%; }

/* line 13, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
::-webkit-scrollbar {
  width: 10px; }

/* line 20, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
::-webkit-scrollbar-track {
  border-radius: 10px; }

/* line 26, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
::-webkit-scrollbar-thumb {
  background: #1E2330;
  border-radius: 50px; }

/* line 35, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
#homeBtn {
  width: 100px; }

/* line 36, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
#logoutBtn {
  width: 120px; }

/* line 37, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
#loginBtn {
  width: 120px; }

/* line 39, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.top-nav {
  position: relative;
  top: 20px;
  width: 100%;
  height: 50px;
  z-index: 10; }
  /* line 49, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
  .top-nav .brand {
    position: relative;
    left: 30px;
    cursor: pointer; }
    /* line 56, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .top-nav .brand a {
      text-decoration: none;
      color: #1E2330;
      width: 300px; }
    /* line 66, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .top-nav .brand svg {
      position: relative;
      left: 15px;
      transform: scale(1.8);
      fill: #1E2330;
      float: left; }
    /* line 78, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .top-nav .brand h1 {
      position: relative;
      left: 40px;
      width: 300px;
      font-size: 40px; }
  /* line 93, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
  .top-nav .btns {
    position: absolute;
    bottom: -3px;
    right: 50px;
    height: 60px;
    display: inline-block; }
    /* line 103, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .top-nav .btns .auth-btn.in {
      box-shadow: inset 1px 1px 4px #b9b9b7, inset -1px -1px 4px #ffffff; }
    /* line 110, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .top-nav .btns div {
      position: relative;
      height: 20px;
      padding: 20px;
      margin-left: 40px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      cursor: pointer;
      box-shadow: 1px 1px 4px #b9b9b7, -1px -1px 4px #ffffff;
      float: left; }
      /* line 132, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
      .top-nav .btns div svg {
        position: absolute;
        left: 20px;
        fill: #1E2330; }
      /* line 141, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
      .top-nav .btns div .home {
        transform: scale(1.3); }
      /* line 147, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
      .top-nav .btns div .logout {
        margin-top: 3px;
        transform: scale(1.2); }
      /* line 155, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
      .top-nav .btns div .login {
        transform: scale(1.3); }
      /* line 162, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
      .top-nav .btns div span {
        position: relative;
        left: 45px;
        top: 3px;
        font-size: 20px; }
    /* line 174, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .top-nav .btns a {
      text-decoration: none;
      color: #1E2330;
      cursor: pointer; }

/* line 186, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.main {
  position: relative;
  width: 100%; }
  /* line 191, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
  .main .circles {
    position: absolute;
    left: -20px;
    top: 100px;
    width: 100%;
    height: 1000px;
    overflow: hidden; }
    /* line 202, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .main .circles div {
      position: absolute;
      transform: scale(1);
      border-radius: 1000px; }
    /* line 212, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .main .circles .big {
      top: 20px;
      width: 1000px;
      height: 1000px;
      background-color: #e9812d;
      transition: all 3s ease-in-out; }
    /* line 225, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .main .circles .medium {
      top: 350px;
      left: 100px;
      width: 550px;
      height: 550px;
      background-color: #efca59;
      transition: all 1.5s ease-in-out; }
    /* line 239, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .main .circles .small {
      top: 50px;
      left: 500px;
      width: 400px;
      height: 400px;
      background-color: #efa4c1;
      transition: all 1s ease-in-out; }
  /* line 255, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
  .main .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1122px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(190px);
    -webkit-backdrop-filter: blur(180px); }
    /* line 271, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .main .content .info {
      position: relative;
      width: 100%;
      height: 1000px;
      overflow: hidden; }
      /* line 280, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
      .main .content .info .text {
        position: relative;
        top: 180px;
        left: 125px;
        width: calc(50% - 125px);
        float: left; }
        /* line 290, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
        .main .content .info .text h1 {
          font-size: 100px;
          text-shadow: 1px 1px 3px #1E2330; }
        /* line 298, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
        .main .content .info .text h2 {
          font-weight: normal;
          font-size: 52px; }
        /* line 305, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
        .main .content .info .text button {
          position: relative;
          top: 30px;
          height: 70px;
          width: 450px;
          padding: 10px;
          background: rgba(255, 255, 255, 0.2);
          box-shadow: 1px 1px 4px #b9b9b7, -1px -1px 4px #ffffff;
          border: none;
          border-radius: 100px;
          font-family: Comfortaa;
          font-size: 30px;
          cursor: pointer; }
        /* line 330, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
        .main .content .info .text button.in {
          box-shadow: inset 1px 1px 4px #b9b9b7, inset -1px -1px 4px #ffffff; }
    /* line 341, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .main .content .img {
      position: relative;
      top: 30px;
      width: 50%;
      float: right;
      overflow: hidden; }
      /* line 352, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
      .main .content .img img {
        position: relative; }

/* line 365, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.bottom-nav {
  position: relative;
  top: -70px;
  left: -15px;
  width: 100%; }
  /* line 373, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
  .bottom-nav .links {
    position: relative;
    left: 5px;
    bottom: 9px;
    float: left; }
    /* line 381, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .bottom-nav .links ul {
      list-style-type: none; }
      /* line 385, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
      .bottom-nav .links ul li {
        display: inline-block;
        margin-right: 30px;
        /* Link hover effect */ }
        /* line 391, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
        .bottom-nav .links ul li a {
          text-decoration: none;
          color: #1E2330;
          font-size: 23px; }
          /* line 398, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
          .bottom-nav .links ul li a .copyright {
            width: 275px;
            font-weight: normal;
            font-size: 27px; }
        /* line 411, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
        .bottom-nav .links ul li .link:before, .bottom-nav .links ul li .link:after, .bottom-nav .links ul li .link > span:before, .bottom-nav .links ul li .link > span:after {
          content: '';
          position: absolute;
          transition: transform .5s ease; }
        /* line 419, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
        .bottom-nav .links ul li .link, .bottom-nav .links ul li .link > span {
          position: relative;
          color: #1E2330;
          text-decoration: none;
          line-height: 24px; }
        /* line 428, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
        .bottom-nav .links ul li .link {
          display: inline-flex;
          padding-top: 10px;
          padding-bottom: 5px;
          overflow: hidden; }
        /* line 437, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
        .bottom-nav .links ul li .link:before {
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background: #492059;
          transform: translateX(-100%); }
        /* line 448, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
        .bottom-nav .links ul li .link:hover:before {
          transform: translateX(0); }
  /* line 460, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
  .bottom-nav .social-media {
    position: absolute;
    top: 34px;
    right: 32px; }
    /* line 466, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .bottom-nav .social-media div {
      cursor: pointer;
      transform: scale(1);
      transition: all 0.5s ease-in-out; }
    /* line 476, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .bottom-nav .social-media div:hover {
      transform: scale(1.2); }

/* Telegram icon style */
/* line 488, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st0 {
  fill: #FFFFFF; }

/* line 489, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st1 {
  fill: #F5BB41; }

/* line 490, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st2 {
  fill: #2167D1; }

/* line 491, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st3 {
  fill: #3D84F3; }

/* line 492, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st4 {
  fill: #4CA853; }

/* line 493, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st5 {
  fill: #398039; }

/* line 494, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st6 {
  fill: #D74F3F; }

/* line 495, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st7 {
  fill: #D43C89; }

/* line 496, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st8 {
  fill: #B2005F; }

/* line 497, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st9 {
  fill: none;
  stroke: #000000;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

/* line 499, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st10 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: none;
  stroke: #000000;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

/* line 501, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st11 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: none;
  stroke: #040404;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

/* line 502, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st12 {
  fill-rule: evenodd;
  clip-rule: evenodd; }

/* line 503, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st13 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #040404; }

/* line 504, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st14 {
  fill: url(#SVGID_1_); }

/* line 505, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st15 {
  fill: url(#SVGID_2_); }

/* line 506, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st16 {
  fill: url(#SVGID_3_); }

/* line 507, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st17 {
  fill: url(#SVGID_4_); }

/* line 508, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st18 {
  fill: url(#SVGID_5_); }

/* line 509, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st19 {
  fill: url(#SVGID_6_); }

/* line 510, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st20 {
  fill: url(#SVGID_7_); }

/* line 511, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st21 {
  fill: url(#SVGID_8_); }

/* line 512, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st22 {
  fill: url(#SVGID_9_); }

/* line 513, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st23 {
  fill: url(#SVGID_10_); }

/* line 514, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st24 {
  fill: url(#SVGID_11_); }

/* line 515, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st25 {
  fill: url(#SVGID_12_); }

/* line 516, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st26 {
  fill: url(#SVGID_13_); }

/* line 517, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st27 {
  fill: url(#SVGID_14_); }

/* line 518, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st28 {
  fill: url(#SVGID_15_); }

/* line 519, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st29 {
  fill: url(#SVGID_16_); }

/* line 520, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st30 {
  fill: url(#SVGID_17_); }

/* line 521, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st31 {
  fill: url(#SVGID_18_); }

/* line 522, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st32 {
  fill: url(#SVGID_19_); }

/* line 523, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st33 {
  fill: url(#SVGID_20_); }

/* line 524, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st34 {
  fill: url(#SVGID_21_); }

/* line 525, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st35 {
  fill: url(#SVGID_22_); }

/* line 526, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st36 {
  fill: url(#SVGID_23_); }

/* line 527, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st37 {
  fill: url(#SVGID_24_); }

/* line 528, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st38 {
  fill: url(#SVGID_25_); }

/* line 529, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st39 {
  fill: url(#SVGID_26_); }

/* line 530, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st40 {
  fill: url(#SVGID_27_); }

/* line 531, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st41 {
  fill: url(#SVGID_28_); }

/* line 532, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st42 {
  fill: url(#SVGID_29_); }

/* line 533, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st43 {
  fill: url(#SVGID_30_); }

/* line 534, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st44 {
  fill: url(#SVGID_31_); }

/* line 535, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st45 {
  fill: url(#SVGID_32_); }

/* line 536, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st46 {
  fill: url(#SVGID_33_); }

/* line 537, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st47 {
  fill: url(#SVGID_34_); }

/* line 538, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st48 {
  fill: url(#SVGID_35_); }

/* line 539, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st49 {
  fill: url(#SVGID_36_); }

/* line 540, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st50 {
  fill: url(#SVGID_37_); }

/* line 541, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st51 {
  fill: url(#SVGID_38_); }

/* line 542, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st52 {
  fill: url(#SVGID_39_); }

/* line 543, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st53 {
  fill: url(#SVGID_40_); }

/* line 544, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st54 {
  fill: url(#SVGID_41_); }

/* line 545, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st55 {
  fill: url(#SVGID_42_); }

/* line 546, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st56 {
  fill: url(#SVGID_43_); }

/* line 547, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st57 {
  fill: url(#SVGID_44_); }

/* line 548, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st58 {
  fill: url(#SVGID_45_); }

/* line 549, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st59 {
  fill: #040404; }

/* line 550, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st60 {
  fill: url(#SVGID_46_); }

/* line 551, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st61 {
  fill: url(#SVGID_47_); }

/* line 552, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st62 {
  fill: url(#SVGID_48_); }

/* line 553, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st63 {
  fill: url(#SVGID_49_); }

/* line 554, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st64 {
  fill: url(#SVGID_50_); }

/* line 555, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st65 {
  fill: url(#SVGID_51_); }

/* line 556, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st66 {
  fill: url(#SVGID_52_); }

/* line 557, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st67 {
  fill: url(#SVGID_53_); }

/* line 558, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st68 {
  fill: url(#SVGID_54_); }

/* line 559, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st69 {
  fill: url(#SVGID_55_); }

/* line 560, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st70 {
  fill: url(#SVGID_56_); }

/* line 561, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st71 {
  fill: url(#SVGID_57_); }

/* line 562, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st72 {
  fill: url(#SVGID_58_); }

/* line 563, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st73 {
  fill: url(#SVGID_59_); }

/* line 564, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st74 {
  fill: url(#SVGID_60_); }

/* line 565, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st75 {
  fill: url(#SVGID_61_); }

/* line 566, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st76 {
  fill: url(#SVGID_62_); }

/* line 567, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st77 {
  fill: none;
  stroke: #000000;
  stroke-width: 3;
  stroke-miterlimit: 10; }

/* line 568, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st78 {
  fill: none;
  stroke: #FFFFFF;
  stroke-miterlimit: 10; }

/* line 569, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st79 {
  fill: #4BC9FF; }

/* line 570, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st80 {
  fill: #5500DD; }

/* line 571, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st81 {
  fill: #FF3A00; }

/* line 572, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st82 {
  fill: #E6162D; }

/* line 573, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st83 {
  fill: #F1F1F1; }

/* line 574, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st84 {
  fill: #FF9933; }

/* line 575, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st85 {
  fill: #B92B27; }

/* line 576, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st86 {
  fill: #00ACED; }

/* line 577, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st87 {
  fill: #BD2125; }

/* line 578, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st88 {
  fill: #1877F2; }

/* line 579, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st89 {
  fill: #6665D2; }

/* line 580, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st90 {
  fill: #CE3056; }

/* line 581, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st91 {
  fill: #5BB381; }

/* line 582, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st92 {
  fill: #61C3EC; }

/* line 583, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st93 {
  fill: #E4B34B; }

/* line 584, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st94 {
  fill: #181EF2; }

/* line 585, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st95 {
  fill: #FF0000; }

/* line 586, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st96 {
  fill: #FE466C; }

/* line 587, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st97 {
  fill: #FA4778; }

/* line 588, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st98 {
  fill: #FF7700; }

/* line 589, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st99 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #1F6BF6; }

/* line 590, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st100 {
  fill: #520094; }

/* line 591, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st101 {
  fill: #4477E8; }

/* line 592, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st102 {
  fill: #3D1D1C; }

/* line 593, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st103 {
  fill: #FFE812; }

/* line 594, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st104 {
  fill: #344356; }

/* line 595, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st105 {
  fill: #00CC76; }

/* line 596, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st106 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #345E90; }

/* line 597, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st107 {
  fill: #1F65D8; }

/* line 598, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st108 {
  fill: #EB3587; }

/* line 599, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st109 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #603A88; }

/* line 600, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st110 {
  fill: #E3CE99; }

/* line 601, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st111 {
  fill: #783AF9; }

/* line 602, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st112 {
  fill: #FF515E; }

/* line 603, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st113 {
  fill: #FF4906; }

/* line 604, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st114 {
  fill: #503227; }

/* line 605, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st115 {
  fill: #4C7BD9; }

/* line 606, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st116 {
  fill: #69C9D0; }

/* line 607, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st117 {
  fill: #1B92D1; }

/* line 608, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st118 {
  fill: #EB4F4A; }

/* line 609, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st119 {
  fill: #513728; }

/* line 610, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st120 {
  fill: #FF6600; }

/* line 611, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st121 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #B61438; }

/* line 612, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st122 {
  fill: #FFFC00; }

/* line 613, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st123 {
  fill: #141414; }

/* line 614, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st124 {
  fill: #94D137; }

/* line 615, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st125 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #F1F1F1; }

/* line 616, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st126 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #66E066; }

/* line 617, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st127 {
  fill: #2D8CFF; }

/* line 618, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st128 {
  fill: #F1A300; }

/* line 619, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st129 {
  fill: #4BA2F2; }

/* line 620, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st130 {
  fill: #1A5099; }

/* line 621, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st131 {
  fill: #EE6060; }

/* line 622, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st132 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #F48120; }

/* line 623, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st133 {
  fill: #222222; }

/* line 624, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st134 {
  fill: url(#SVGID_63_); }

/* line 625, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st135 {
  fill: #0077B5; }

/* line 626, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st136 {
  fill: #FFCC00; }

/* line 627, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st137 {
  fill: #EB3352; }

/* line 628, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st138 {
  fill: #F9D265; }

/* line 629, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st139 {
  fill: #F5B955; }

/* line 630, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st140 {
  fill: #DD2A7B; }

/* line 631, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st141 {
  fill: #66E066; }

/* line 632, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st142 {
  fill: #EB4E00; }

/* line 633, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st143 {
  fill: #FFC794; }

/* line 634, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st144 {
  fill: #B5332A; }

/* line 635, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st145 {
  fill: #4E85EB; }

/* line 636, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st146 {
  fill: #58A45C; }

/* line 637, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st147 {
  fill: #F2BC42; }

/* line 638, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st148 {
  fill: #D85040; }

/* line 639, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st149 {
  fill: #464EB8; }

/* line 640, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
.st150 {
  fill: #7B83EB; }

@media screen and (max-width: 1330px) {
  /* line 646, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
  .main .circles {
    height: 960px; }
    /* line 650, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .main .circles .big {
      width: 850px;
      height: 850px; }
    /* line 657, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .main .circles .medium {
      width: 550px;
      height: 550px; }
    /* line 664, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .main .circles .small {
      width: 350px;
      height: 350px; }
  /* line 673, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
  .main .content {
    height: 1090px; }
    /* line 679, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .main .content .info .text {
      top: 170px;
      left: 100px; }
      /* line 684, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
      .main .content .info .text h1 {
        font-size: 73px; }
      /* line 692, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
      .main .content .info .text h2 {
        font-size: 32px; }
      /* line 698, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
      .main .content .info .text button {
        height: 55px;
        width: 320px;
        font-size: 23px; }
  /* line 715, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
  .main .img img {
    bottom: 40px;
    right: 160px;
    transform: scale(0.8); }
  /* line 728, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
  .bottom-nav {
    top: -120px; } }

@media screen and (max-width: 850px) {
  /* line 744, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
  .main .top-nav .brand {
    top: 20px;
    left: 20px; }
    /* line 749, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .main .top-nav .brand h1 {
      display: none; }
  /* line 757, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
  .main .top-nav .btns {
    position: absolute;
    bottom: -10px;
    right: 10px; }
    /* line 763, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .main .top-nav .btns #homeBtn, .main .top-nav .btns #logoutBtn, .main .top-nav .btns #loginBtn {
      width: 30px; }
    /* line 765, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .main .top-nav .btns .auth-btn {
      position: relative;
      height: 30px;
      justify-content: center;
      margin-left: 30px; }
      /* line 775, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
      .main .top-nav .btns .auth-btn svg {
        position: absolute; }
      /* line 781, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
      .main .top-nav .btns .auth-btn .home {
        transform: scale(1.3); }
      /* line 787, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
      .main .top-nav .btns .auth-btn .logout {
        margin-top: 3px;
        transform: scale(1.2); }
      /* line 795, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
      .main .top-nav .btns .auth-btn .login {
        transform: scale(1.3); }
      /* line 802, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
      .main .top-nav .btns .auth-btn span {
        display: none; }
  /* line 814, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
  .main .content {
    height: 1080px; }
    /* line 818, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .main .content .info {
      height: 800px; }
      /* line 822, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
      .main .content .info .text {
        top: 100px;
        left: 20px;
        width: 100%; }
        /* line 829, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
        .main .content .info .text h1 {
          font-size: 55px; }
        /* line 835, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
        .main .content .info .text h2 {
          font-size: 30px; }
        /* line 841, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
        .main .content .info .text button {
          height: 55px;
          width: 270px;
          font-size: 20px; }
      /* line 852, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
      .main .content .info .img {
        width: 100%;
        display: none; }
  /* line 866, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
  .main .img img {
    bottom: 40px;
    right: 160px;
    transform: scale(0.8); }
  /* line 879, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
  .bottom-nav {
    left: -30px;
    top: 40px; }
    /* line 890, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
    .bottom-nav .links ul li a {
      font-size: 16px; }
      /* line 894, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
      .bottom-nav .links ul li a .copyright {
        width: 190px;
        margin: 0;
        font-size: 19px; } }

@media screen and (min-width: 850px) and (max-width: 915px) {
  /* line 919, c:/users/teo/desktop/bf/bbb/static/scss/base/landing.scss */
  .bottom-nav {
    top: -140px; } }
