/* line 3, static/scss/auth/login_mobile.scss */
body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  color: #1E2330; }

/* line 13, static/scss/auth/login_mobile.scss */
body {
  background: #fff; }

/* line 19, static/scss/auth/login_mobile.scss */
button {
  outline: none; }

/* line 25, static/scss/auth/login_mobile.scss */
::-webkit-scrollbar {
  width: 10px; }

/* line 32, static/scss/auth/login_mobile.scss */
::-webkit-scrollbar-track {
  border-radius: 10px; }

/* line 38, static/scss/auth/login_mobile.scss */
::-webkit-scrollbar-thumb {
  background: #1E2330;
  border-radius: 50px; }

/* line 45, static/scss/auth/login_mobile.scss */
svg {
  fill: #1E2330; }

/* line 53, static/scss/auth/login_mobile.scss */
#Icon_feather-mail path {
  stroke: #1E2330; }

/* line 61, static/scss/auth/login_mobile.scss */
button:disabled {
  opacity: 0.8; }

/* line 68, static/scss/auth/login_mobile.scss */
.main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  /* line 80, static/scss/auth/login_mobile.scss */
  .main .wrapper {
    position: relative;
    width: 340px;
    height: 500px;
    background: #fff;
    border-radius: 20px;
    background-color: #fff; }
    /* line 95, static/scss/auth/login_mobile.scss */
    .main .wrapper .brand {
      position: relative;
      top: 20px;
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center; }
      /* line 109, static/scss/auth/login_mobile.scss */
      .main .wrapper .brand .wrapper {
        width: 79px;
        height: 79px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1px 0 0 1px;
        border-radius: 50px;
        box-shadow: 1px 1px 8px #a0a0a0, -1px -1px 8px #ffffff;
        cursor: pointer; }
        /* line 127, static/scss/auth/login_mobile.scss */
        .main .wrapper .brand .wrapper svg {
          transform: scale(2); }
    /* line 137, static/scss/auth/login_mobile.scss */
    .main .wrapper h1 {
      position: relative;
      top: 46px;
      width: 340px;
      text-align: center;
      font-weight: normal;
      font-size: 25px;
      margin: 0; }
    /* line 152, static/scss/auth/login_mobile.scss */
    .main .wrapper form {
      position: relative;
      top: 70px; }
      /* line 157, static/scss/auth/login_mobile.scss */
      .main .wrapper form .fields {
        width: 100%; }
        /* line 161, static/scss/auth/login_mobile.scss */
        .main .wrapper form .fields div {
          position: relative;
          left: 4%;
          width: 80%; }
          /* line 168, static/scss/auth/login_mobile.scss */
          .main .wrapper form .fields div svg:first-child {
            position: absolute;
            left: 15px;
            top: 16px;
            cursor: pointer; }
          /* line 178, static/scss/auth/login_mobile.scss */
          .main .wrapper form .fields div svg:nth-child(2) {
            position: absolute;
            right: -25px;
            top: 19px;
            opacity: 0; }
          /* line 188, static/scss/auth/login_mobile.scss */
          .main .wrapper form .fields div #email {
            top: 10px;
            left: 10px;
            transform: scale(0.75); }
          /* line 197, static/scss/auth/login_mobile.scss */
          .main .wrapper form .fields div #lock {
            top: 9px;
            left: 10px;
            transform: scale(0.75); }
          /* line 206, static/scss/auth/login_mobile.scss */
          .main .wrapper form .fields div .input-container {
            left: -5px;
            width: 290px;
            height: 47px;
            border-radius: 50px;
            box-shadow: inset 1px 1px 8px #a0a0a0, inset -1px -1px 8px #ffffff; }
            /* line 218, static/scss/auth/login_mobile.scss */
            .main .wrapper form .fields div .input-container input {
              width: 100%;
              height: 100%;
              margin-bottom: 15px;
              padding: 6px 20px 0 50px;
              color: #6e7267;
              background: none;
              border: none;
              border-radius: 50px;
              font-size: 18px; }
          /* line 241, static/scss/auth/login_mobile.scss */
          .main .wrapper form .fields div input:focus {
            outline: none; }
      /* line 251, static/scss/auth/login_mobile.scss */
      .main .wrapper form .error {
        position: absolute;
        top: 195px;
        left: 40px;
        color: red;
        opacity: 0;
        transform: scale(1.2); }
      /* line 265, static/scss/auth/login_mobile.scss */
      .main .wrapper form .error.reset {
        top: 60px; }
      /* line 271, static/scss/auth/login_mobile.scss */
      .main .wrapper form .unique {
        position: absolute;
        left: 20px;
        top: -21px;
        opacity: 0;
        color: red; }
      /* line 283, static/scss/auth/login_mobile.scss */
      .main .wrapper form .e {
        display: block;
        margin: 0 0 10px 20px;
        color: red; }
      /* line 292, static/scss/auth/login_mobile.scss */
      .main .wrapper form a {
        position: relative;
        top: 5px;
        left: 10%;
        text-decoration: none;
        color: #1E2330; }
      /* line 303, static/scss/auth/login_mobile.scss */
      .main .wrapper form a:hover {
        color: red; }
      /* line 309, static/scss/auth/login_mobile.scss */
      .main .wrapper form .btns {
        position: relative;
        top: 40px; }
        /* line 314, static/scss/auth/login_mobile.scss */
        .main .wrapper form .btns a {
          left: 0;
          color: #1E2330; }
        /* line 321, static/scss/auth/login_mobile.scss */
        .main .wrapper form .btns button {
          position: relative;
          left: 5%;
          width: 90%;
          height: 50px;
          padding-top: 4px;
          margin-bottom: 15px;
          background: none;
          color: #1E2330;
          box-shadow: 1px 1px 10px #a0a0a0, -1px -1px 10px #ffffff;
          font-size: 18px; }
        /* line 342, static/scss/auth/login_mobile.scss */
        .main .wrapper form .btns button.in {
          box-shadow: inset 1px 1px 10px #a0a0a0, inset -1px -1px 10px #ffffff; }

/* line 359, static/scss/auth/login_mobile.scss */
.wrapper.register {
  height: 560px; }
  /* line 363, static/scss/auth/login_mobile.scss */
  .wrapper.register .btns.register {
    top: 15px; }
