$text-color: #ffffff;

$dark-theme: #151718;
$dark-text: #a3a7ab;

body, html {

    margin: 0;
    color: $text-color;

    width: 100%;

    background: $dark-theme;
    
}

button {

    outline: none;

}

::-webkit-scrollbar {

    width: 10px;

}


::-webkit-scrollbar-track{

    border-radius: 10px;

}

::-webkit-scrollbar-thumb {


    background: $text-color;
    border-radius: 50px;

}


#homeBtn {width: 100px}
#logoutBtn {width: 120px}
#loginBtn {width: 120px}

.top-nav {

    position: relative;
    top: 60px;
    
    width: 100%;
    height: 50px;

    z-index: 10;

    .brand {

        position: absolute;
        left: 10px;

        width: 300px;

        cursor: pointer;

        a {

            text-decoration: none;
            color: $text-color;

            width: 300px;
            
        }

       
        #logoWrapper {

            position: relative;
            top: -40px;
            left: 55px;

            width: 150px;
            height: 150px;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 200px;

            cursor: pointer;

            box-shadow: 5px 5px 8px #08090a,
                    -5px -5px 8px #222526;

            .safe-logo {

                position: relative;
    
                transform: scale(0.7);
                fill: $text-color;
    
                float: left;
    
            }

        }

        h1 {

            position: relative;
            left: 40px;

            width: 300px;

            font-size: 40px;

            
        }


    }

    .btns {

        position: absolute;
        bottom: -30px;
        right: 50px;

        height: 60px;

        display: inline-block;

        .auth-btn.in {

            box-shadow: inset 5px 5px 8px #08090a,
                    inset -5px -5px 8px #222526;

        }

        div {

            position: relative;

            height: 20px;

            padding: 20px;

            margin-left: 40px;

            border-radius: 50px;

            display: flex;
            align-items: center;

            cursor: pointer;

            box-shadow:  5px 5px 8px #08090a,
                        -5px -5px 8px #222526;

            float: left;
            
            svg {

                position: absolute;
                left: 20px;

                fill: $text-color;
    
            }
    
            .home {
    
                transform: scale(1.3);
    
            }
    
            .logout {
    
                margin-top: 3px;
    
                transform: scale(1.2);
    
            }
    
            .login {
    
                transform: scale(1.3);
    
            }
            
    
            span {
    
                position: relative;
                left: 45px;
                top: 3px;
    
                font-size: 20px;
    
            }

        }

        a {

            text-decoration: none;
            color: $text-color;
            cursor: pointer;

        }

    }

}

.main {

    position: relative;
    
    width: 100%;

    .content {

        position: absolute;
        top: 50px;
        left: 0;

        width: 100%;
        height: 1152px;

        overflow: hidden;

        backdrop-filter: blur( 190px );
        -webkit-backdrop-filter: blur( 180px );

        .info {

            position: relative;
            top: 100px;

            width: 90%;
            height: 1000px;

            overflow: hidden;

            .text {

                position: relative;
                top: 220px;
                left: 125px;

                width: 100%;

                display: flex;
                justify-content: center;
  
                flex-direction: column;

                float: left;

                span {

                    font-size: 100px;
                    font-weight: bold;

                    text-shadow: 1px 1px 3px $text-color;
    
                }

                h2 {

                    font-weight: normal;
                    font-size: 52px;

                    line-height: 65px;

                }

                button {

                    position: relative;
                    top: 30px;

                    height: 70px;
                    width: 450px;

                    padding: 10px;

                    background: none;

                    box-shadow:  5px 5px 8px #08090a,
                        -5px -5px 8px #222526;

                    border: none;
                    border-radius: 100px;

                    font-family: Comfortaa;
                    font-size: 30px;

                    cursor: pointer;

                    color: $text-color;

                }

                button.in {

                    box-shadow: inset 5px 5px 8px #08090a,
                        inset -5px -5px 8px #222526;

                }

            }

        }

        .img {

            position: relative;
            top: 30px;

            width: 50%;

            float: right;
            
            overflow: hidden;

            img {

                position: relative;
                

            }

        }

    }

}

.bottom-nav {

    position: relative;
    top: -30px;
    left: -15px;

    width: 100%;

    .links {

        position: relative;
        left: 5px;
        bottom: 9px;

        float: left;

        ul {

            list-style-type: none;

            li {

                display: inline-block;

                margin-right: 30px;

                a {

                    text-decoration: none;
                    color: $text-color;

                    font-size: 23px;

                    .copyright {

                        width: 275px;

                        font-weight: normal;
                        font-size: 27px;

                    }

                }

                /* Link hover effect */

                .link:before, .link:after, .link > span:before, .link > span:after {

                    content: '';
                    position: absolute;
                    transition: transform .5s ease;

                }

                .link, .link > span {

                    position: relative;
                    color: #fff;
                    text-decoration: none;
                    line-height: 24px;
                
                }
                  
                .link {

                    display: inline-flex;
                    padding-top: 10px;
                    padding-bottom: 5px;
                    overflow: hidden;

                }
                  
                .link:before {

                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background: #fff;
                    transform: translateX(-100%);

                }
                  
                .link:hover:before {

                    transform: translateX(0);

                }

            }

        }

    }

    .social-media {

        position: absolute;
        top: 34px;
        right: 32px;

        svg {

            fill: $text-color;

            cursor: pointer;

            transition: all 0.25s ease-in-out;

        }

        svg:hover {

            fill: #30AADD;

        }

    }

}

@media screen and (max-width: 1330px) {
    
    .main {

        .circles {

            height: 900px;

            .big {

                width: 850px;
                height: 850px;

            }

            .medium {

                width: 550px;
                height: 550px;

            }

            .small {

                width: 350px;
                height: 350px;

            }

        }

        .content {

            height: 1050px;

            .info {
    
                .text {
    
                    top: 170px;
                    left: 100px;

                    span {

                        font-size: 85px;

                    }

                    h2 {

                        font-size: 50px;

                    }

                    button {

                        height: 55px;
                        width: 320px;

                        font-size: 23px;

                        h1 {

                            font-size: 23px;
    
                        }

                    }
    
                }
    
            }
    
        }

        .img {

            img {

                bottom: 40px;
                right: 160px;

                transform: scale(0.8);

            }

        }

    }

    .bottom-nav {

        top: -120px;

        .social-media {

            top: 5px;
            right: 20px;
    
        }

    }

}



@media screen and (max-width: 850px) {

    .main {

        .top-nav {
    
            .brand {
                
                top: 20px;
                left: 20px;
        
            }
        
            .btns {
        
                position: absolute;
                bottom: -10px;
                right: 10px;

                #homeBtn, #logoutBtn, #loginBtn {width: 30px}

                .auth-btn {
        
                    position: relative;
                    right: 15px;
        
                    height: 30px;

                    justify-content: center;
                    
                    margin-left: 30px;
                    
                    svg {
        
                        position: absolute;
            
                    }
            
                    .home {
            
                        transform: scale(1.3);
            
                    }
            
                    .logout {
            
                        margin-top: 3px;
                        
                        transform: scale(1.2);
            
                    }
            
                    .login {
            
                        transform: scale(1.3);
            
                    }
                    
            
                    span {
            
                        display: none;
            
                    }
        
                }
        
            }
        
        }

        .circles {

            height: 850px;

        }

        .content {

            height: 1000px;

            .info {

                height: 800px;
    
                .text {
    
                    top: 200px;
                    left: 40px;

                    width: 100%;

                    span {

                        font-size: 55px;

                    }

                    h2 {

                        font-size: 30px;

                    }

                    button {

                        height: 55px;
                        width: 270px;

                        font-size: 20px;

                    }
    
                }

                .img {

                    width: 100%;

                    display: none;

                }
    
            }
    
        }

        .img {

            img {

                bottom: 40px;
                right: 160px;

                transform: scale(0.8);

            }

        }

    }

    .bottom-nav {

        left: -30px;
        top: 40px;

        .links {

            ul {

                li {

                    a {

                        font-size: 16px;

                        .copyright {

                            width: 190px;

                            margin: 0;

                            font-size: 19px;

                        }

                    }

                }

            }

        }

    }

}

@media screen and (max-width: 850px) {

    .main {

        .top-nav {
    
            .brand {
                
                top: 20px;
                left: 20px;
            
                h1 {
    
                    display: none;
            
                }
        
            }

        }

        .circles {

            height: 800px;

        }

        .content {

            height: 950px;

        }

    }

}

@media screen and (max-width: 589px) {

    .main {

        .circles {


            height: 850px;

        }

        .content {

            height: 1000px;

        }

    }

}

@media screen and (min-width: 850px) and (max-width: 915px) {

    .bottom-nav {

        top: -140px;

    }

}
