{% load static %}
{% load compress %}

<!DOCTYPE html>

<html lang="ru">

    <head>

        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Политика конфиденциальности | Блокнотик</title>

        <meta name="description" content="Политика конфиденциальности Блокнотика">
        <meta name="keywords" content="блокнотик, договор-оферта, блокнот онлайн, онлайн тетрадь, заметки онлайн, блокнот онлайн бесплатно, текстовик, программа для заметок, совместные заметки, голосовой блокнот онлайн, онлайн блокнот для записей">

        <link rel="icon" type="image/svg+xml" href="{% static 'блокнотик.svg' %}">

        {% compress css %}

            <link rel="stylesheet" href="{% static 'scss/base/terms.scss' %}" type="text/x-scss">

        {% endcompress %}

        <script src="{% static 'packages/jquery-3.6.1.min.js' %}"></script>

    </head>

    <body>
        
        <div class="main">

            <div class="top-nav">

                <div class="top-nav">

                    <div class="brand">

                        <a href="/">
                    
                            <svg xmlns="http://www.w3.org/2000/svg" width="19.394" height="28.21" viewBox="0 0 19.394 28.21">
                                <path id="Icon_awesome-lightbulb" data-name="Icon awesome-lightbulb" d="M5.293,25.033a1.764,1.764,0,0,0,.3.975l.942,1.415A1.763,1.763,0,0,0,8,28.21h3.4a1.763,1.763,0,0,0,1.468-.787l.942-1.415a1.762,1.762,0,0,0,.3-.975l0-2.113H5.29l0,2.113ZM0,9.7a9.643,9.643,0,0,0,2.4,6.379,15.834,15.834,0,0,1,2.877,5.039c0,.014.006.043.006.043h8.829c0-.014,0-.028.006-.043a15.834,15.834,0,0,1,2.877-5.039A9.7,9.7,0,1,0,0,9.7ZM9.7,5.289A4.413,4.413,0,0,0,5.289,9.7a.882.882,0,0,1-1.763,0A6.178,6.178,0,0,1,9.7,3.526a.882.882,0,0,1,0,1.763Z" transform="translate(0 0)"/>
                            </svg>
                        
                            <h1>Блокнотик</h1>
                    
                        </a>
                    
                    </div>
                    
                    <div class="btns">
                    
                        {% if u.is_authenticated %}
                    
                            <a href="{% url 'app:app' %}">
                    
                                <div class="auth-btn" id="homeBtn">
                    
                                    <svg class="home" xmlns="http://www.w3.org/2000/svg" width="29.174" height="25.726" viewBox="0 0 29.174 25.726">
                                        <path id="Icon_material-home" data-name="Icon material-home" d="M14.192,28.373c1.755-2.106-1.4-6.319,0-8.426a3.286,3.286,0,0,1,5.617,0c1.4,2.106-1.755,6.319,0,8.426s5.266,2.809,7.022,0,0-11.234,0-11.234,6.67,3.16,4.213,0S24.023,4.5,17,4.5,5.416,13.979,2.958,17.139s4.213,0,4.213,0-1.755,8.426,0,11.234S12.437,30.48,14.192,28.373Z" transform="translate(-2.414 -4.5)"/>
                                    </svg>
                    
                                    <span>Дом</span>
                    
                                </div>
                    
                            </a>
                    
                            <a href="{% url 'user:logout' %}">
                    
                                <div class="auth-btn" id="logoutBtn">
                    
                                    <svg class="logout" xmlns="http://www.w3.org/2000/svg" width="28.618" height="27.77" viewBox="0 0 28.618 27.77">
                                        <path id="Icon_open-account-logout" data-name="Icon open-account-logout" d="M9.606-1.086c-4,.8-3.2,2.4,0,3.2s9.606-4,12.808,0,3.2,12.007,0,16.01-9.606-.8-12.808,0-4,2.4,0,3.2,12.007,5.6,16.01,0,4-16.81,0-22.414S13.608-1.886,9.606-1.086Zm-3.2,6.4c-1.6.4-6.4,2.4-6.4,4.8s4.8,4.4,6.4,4.8,0-3.2,0-3.2,9.606.8,12.808,0,3.2-2.4,0-3.2S6.4,8.52,6.4,8.52,8,4.918,6.4,5.318Z" transform="translate(0 3.764)"/>
                                    </svg>
                    
                                    <span>Выйти</span>
                                
                                </div>
                    
                            </a>
                    
                        {% else %}
                    
                            <a href="{% url 'user:login' %}">
                    
                                <div class="auth-btn" id="loginBtn">
                    
                                    <svg class="login" xmlns="http://www.w3.org/2000/svg" width="29.684" height="26.574" viewBox="0 0 29.684 26.574">
                                        <path id="Icon_open-account-login" data-name="Icon open-account-login" d="M8.115-.324c-3.83.766-3.064,2.3,0,3.064s9.192-3.83,12.256,0,3.064,11.49,0,15.321-9.192-.766-12.256,0-3.83,2.3,0,3.064,11.49,5.362,15.321,0,3.83-16.087,0-21.449S11.946-1.09,8.115-.324ZM11.18,5.8c-1.532-.383,0,3.064,0,3.064s-9.192-.766-12.256,0-3.064,2.3,0,3.064,12.256,0,12.256,0-1.532,3.447,0,3.064,8.1-2.193,8.1-4.491S12.712,6.187,11.18,5.8Z" transform="translate(3.375 2.887)"/>
                                    </svg>
                    
                                    <span>Войти</span>
                    
                                </div>
                    
                            </a>
                    
                        {% endif %}
                    
                    </div>                    
                    
                </div>
                
            </div>

            <div class="sidenav">

                <a href="/terms/">

                    <div data-link class="link">

                        <h1>Договор-оферта</h1>

                    </div>

                </a>

                <a href="#">

                    <div data-link class="link active">

                        <h1>Политика конфиденциальности</h1>

                    </div>

                </a>

                <a href="/juridical-information/">

                    <div data-link>

                        <h1>Юридическая информация</h1>

                    </div>

                </a>

            </div>

            <div class="info">

                <h1>Политика конфиденциальности</h1>

                <div>

                    <ol>
                        <li>Общие положения
                        <ol>
                        <li>Настоящая Политика проводится ИП &laquo;Косяков С.Н.&raquo; (далее &mdash; &laquo;Организация&raquo;) в отношении обработки и обеспечения защиты персональных данных физических лиц (субъектов персональных данных) на основании статьи 24 Конституции РФ и Федерального закона N 152-ФЗ &laquo;О персональных данных&raquo;.</li>
                        <li>Политика применяется в отношении всех персональных данных (субъектов), которые могут быть получены Организацией в процессе деятельности, в том числе клиентов Организации.</li>
                        <li>Цель Политики заключается в доведении до лиц, предоставляющих свои персональные данные, необходимой информации, позволяющей оценить, какие персональные данные и с какими целями обрабатываются Организацией, какие методы обеспечения их безопасности реализуются.</li>
                        <li>Политика обеспечивает защиту прав и свобод субъектов при обработке их персональных данных с использованием средств автоматизации или без использования таких средств, а также устанавливает ответственность лиц, имеющих доступ к персональным данным, за невыполнение требований, регулирующих обработку и защиту персональных данных.</li>
                        <li>Клиенты, используя сервисы и услуги Организации, сообщив Организации свои персональные данные, в том числе при посредничестве третьих лиц, признают своё согласие на обработку персональных данных в соответствии с настоящей Политикой.</li>
                        <li>Согласие на обработку персональных данных может быть отозвано субъектом персональных данных. В случае отзыва субъектом персональных данных согласия на обработку персональных данных оператор вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных действующим законодательством или, в противном случае, отказать в оказании услуги, в случае, если персональные данные необходимы для оказания такой услуги.</li>
                        <li>Настоящая Политика может быть изменена Организацией.</li>
                        </ol>
                        </li>
                        <li>Понятие и состав персональных данных
                        <ol>
                        <li>В целях настоящей Политики под персональными данными понимается любая информация, относящаяся к прямо или косвенно определенному физическому лицу (субъекту персональных данных).</li>
                        <li>В зависимости от субъекта персональных данных, Организация для осуществления своей деятельности и для выполнения своих обязательств может обрабатывать персональные данные следующих категорий субъектов:
                        <ul>
                        <li>персональные данные работника Организации &mdash; информация, необходимая Организации в связи с трудовыми отношениями и касающиеся конкретного работника.</li>
                        <li>данные Клиента &mdash; информация, необходимая Организации для выполнения своих обязательств в рамках договорных отношений с Клиентом и для выполнения требований законодательства Российской Федерации.</li>
                        <li>персональные данные Клиента, предоставленные при регистрации на веб-сайте taplink.ru, в том числе при осуществлении Клиентом Заказов.</li>
                        <li>данные, которые автоматически передаются Сервисам в процессе их использования с помощью установленного на устройстве пользователя программного обеспечения, в том числе IP-адрес, информация из cookie, информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ к Сервисам), время доступа, адрес запрашиваемой страницы.</li>
                        </ul>
                        </li>
                        </ol>
                        </li>
                        <li>Основания и цели обработки персональных данных
                        <ol>
                        <li>Организация обрабатывает персональные данные для осуществления своей деятельности, в том числе оказания Клиентам услуг. Организация вправе:&nbsp;&nbsp;
                        <ul>
                        <li>обрабатывать персональные данные Клиента без получения письменного согласия субъекта персональных данных в соответствии с ст 6. п. 1. пп.5 ФЗ &laquo;О персональных данных&raquo;, т.к. обработка персональных данных необходима для исполнения договора, стороной которого либо выгодоприобретателем или поручителем по которому является субъект персональных данных, а также для заключения договора по инициативе субъекта персональных данных или договора, по которому субъект персональных данных будет являться выгодоприобретателем или поручителем.</li>
                        <li>осуществлять возложенные на Организацию законодательством Российской Федерации функции в соответствии с ФЗ &laquo;О Персональных данных&raquo; и иными законами и нормативными правовыми актами РФ, а также Уставом и нормативными актами Организации;</li>
                        <li>собирать и хранить персональные данные Клиента, необходимые для оказания услуг, исполнения соглашений и договоров, исполнения обязательств перед Клиентом.
                        <ul>
                        <li>оказание услуг Клиенту;</li>
                        <li>идентификация Клиента в рамках договоров;</li>
                        <li>связь с Клиентом в случае необходимости, в том числе направление предложений, уведомлений, информации и запросов, как связанных, так и не связанных с оказанием услуг, а также обработка заявлений, запросов и заявок Клиента;</li>
                        <li>улучшение качества услуг, оказываемых Компанией;</li>
                        <li>таргетирование рекламных материалов;</li>
                        <li>проведение статистических и иных исследований на основе обезличенных данных;</li>
                        <li>собирать и хранить персональные данные Клиента, необходимые для оказания услуг, исполнения соглашений и договоров, исполнения обязательств перед Клиентом.</li>
                        </ul>
                        </li>
                        </ul>
                        </li>
                        <li>Организация может использовать персональные данные Клиента в следующих целях:
                        <ul>
                        <li>оказание услуг Клиенту;</li>
                        <li>идентификация Клиента в рамках договоров;</li>
                        <li>связь с Клиентом в случае необходимости, в том числе направление предложений, уведомлений, информации и запросов, как связанных, так и не связанных с оказанием услуг, а также обработка заявлений, запросов и заявок Клиента;</li>
                        <li>улучшение качества услуг, оказываемых Компанией;</li>
                        <li>таргетирование рекламных материалов;</li>
                        <li>проведение статистических и иных исследований на основе обезличенных данных;</li>
                        </ul>
                        </li>
                        </ol>
                        </li>
                        <li>Сроки обработки персональных данных&nbsp;
                        <ol>
                        <li>Сроки обработки персональных данных определяются исходя из целей обработки в информационных системах Организации, в соответствии со сроком действия договора, соглашения с субъектом персональных данных.</li>
                        </ol>
                        </li>
                        <li>Круг лиц допущенных к обработке персональных данных
                        <ol>
                        <li>Для достижения целей статьи 3 настоящей Политики к обработке персональных данных допущены только те сотрудники Организации, на которых возложена такая обязанность в соответствии с их служебными (трудовыми) обязанностями. Доступ других сотрудников может быть предоставлен только в предусмотренных законом случаях. Организация требует от своих сотрудников соблюдения конфиденциальности и обеспечения безопасности персональных данных, при их обработке.</li>
                        <li>Организация вправе передать персональные данные третьим лицам в следующих случаях:
                        <ul>
                        <li>Субъект персональных данных явно выразил свое согласие на такие действия, в том числе:<br />при оказании услуг Клиентам &ndash; принял условия публичного договора-оферты;</li>
                        <li>Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;
                        <div class="has-mb-8">
                        <p>При этом к приобретателю переходят все обязательства по соблюдению условий обеспечения безопасности персональных данных в соответствии с действующим законодательством Российской Федерации и международным соглашениям применительно к полученным им данным.</p>
                        </div>
                        </li>
                        </ul>
                        </li>
                        </ol>
                        </li>
                        <li>Методы обработки персональных данных
                        <ol>
                        <li>В процессе предоставления услуг, при осуществлении внутрихозяйственной деятельности Организация использует автоматизированную и неавтоматизированную обработку персональных данных.</li>
                        </ol>
                        </li>
                        <li>Реальзация защиты персональных данных
                        <ol>
                        <li>Деятельность Организации по обработке персональных данных в информационных системах неразрывно связана с защитой Организацией конфиденциальности полученной информации. Все работники Организации обязаны обеспечивать конфиденциальность персональных данных, а также иных конфиденциальных сведений, установленных Организацией, если это не противоречит действующему законодательству РФ.</li>
                        <li>Безопасность персональных данных при их обработке в информационных системах Организации обеспечивается с помощью системы защиты информации.</li>
                        <li>Обмен персональными данными при их обработке в информационной системе персональных данных осуществляется по защищенным каналам связи.</li>
                        <li>При обработке персональных данных в информационной системе персональных данных Организации обеспечиваются:
                        <ul>
                        <li>проведение мероприятий, направленных на предотвращение несанкционированного доступа к персональным данным и (или) передача их лицам, не имеющим права доступа к такой информации;</li>
                        <li>применение межсетевого экранирования;</li>
                        <li>физическая защита помещений и технических средств, позволяющих осуществлять обработку персональных данных;</li>
                        <li>своевременное обнаружение фактов несанкционированного доступа к персональным данным;</li>
                        <li>недопущение физического воздействия на технические средства автоматизированных рабочих мест, в результате которого может быть нарушено их функционирование;</li>
                        <li>возможность незамедлительного восстановления персональных данных, модифицированных и уничтоженных вследствие несанкционированного доступа к ним;</li>
                        <li>постоянный антивирусный контроль;</li>
                        <li>постоянный анализ защищенности персональных данных;</li>
                        <li>использование атрибутов безопасности;</li>
                        <li>контроль целостности программной среды обработки персональных данных;</li>
                        <li>иные средства и меры в соответствии с действующим законодательством.</li>
                        </ul>
                        </li>
                        </ol>
                        </li>
                        </ol>

                </div>

            </div>

        </div>

    </body>

    <style>

        @font-face {

            font-family: Comfortaa;
            src: url("{% static 'fonts/Comfortaa.ttf' %}");
        
        }

        body {

            font-family: Comfortaa;

        }

    </style>

    <script>

        $("[data-link]").click(function() {

            link = $(this);

            if (!link.hasClass('active')) {

                $('[data-link]').removeClass('active');
                link.addClass('active');

            }

        });

    </script>

</html>