$light-theme: #f6eadf;
$text-color: #1E2330;

body {

    background: $light-theme;

}

.main {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .post {

        position: relative;
        top: 100px;
    
        width: 700px;
    
        padding: 15px;
        margin-bottom: 150px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        border-radius: 30px;
    
        box-shadow: 3px 3px 8px #d8cec4,
            -3px -3px 8px #fffffa;
    
        #postImage {
    
            width: 690px;
            height: 400px;
    
            img {
    
                width: 100%;
                height: 100%;
    
                border-radius: 30px;
    
            }
    
        }
    
        #postText {
    
            max-width: 100%;
            line-height: 25px;

            h1 {line-height: 50px;}

            #content {

                img {

                    width: 670px;
                    object-fit: cover;

                    border-radius: 30px;

                }

            }
    
        }
    
    }

}